{% extends 'common/base.html' %}
{% load socialaccount %}
{% load static %}
{% block content %}
<div class="breadcrumb_area_three">
    <div class="container">
        <div class="breadcrumb_text">
            <h2> Codetect </h2>
            <p>건축 관련 법규 및 문서를 공유하는 플랫폼 서비스(Wiki) 입니다.<br>누구나 문서를 작성하고 토론 할 수 있습니다. </p>
        </div>
        <form id="search-form" name="searchForm" method="POST" action="/" class="header_search_form">{% csrf_token %}
            <div class="doc_banner_content">
                <div class="header_search_form_info">
                    <div class="form-group">
                        <div class="input-wrapper">
                            <i class="icon_search"></i>
                            <input type='search' id="searchbox" autocomplete="off" name="search-box" value="{{ search_term }}"/>
                            <select class="search-expand-types custom-select" name="search-option" id="search_post_type">
                                {% for sort in sort_list %}
                                <option value="{{ sort.value }}">{{ sort.label }}</option>
                                {% endfor %}
                            </select>
                            <input id="page" name="page" type="number" style="display: none;" readonly>
                        </div>
                        <button id="searchbtn" type="submit" class="header_form_submit">검색</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<section class="doc_tag_area bg_color sec_pad" style="padding-top: 0px;">
    <div class="container">
        <div id="docs" class="row blog_grid_tab">
            {% if books %}
            {% for book in books %}
            <div class="col-lg-4 col-sm-6">
                <div class="blog_grid_post shadow-sm wow fadeInUp">
                    <div onclick="location.href='book/{{ book.book_id }}'" class="grid_post_content">
                        <div class="post_tag">
                            {% if book.codes_yn == "Y" %}
                            <a>법규</a>
                            <a class="c_blue">{{ book.get_code_gubun_display }}</a>
                            {% else %}
                            <a>위키</a>
                                {% if book.wiki_gubun %}
                                <a class="c_blue">{{ book.get_wiki_gubun_display }}</a>
                                {% endif %}
                            {% endif %}
                        </div>
                        <a>
                            <h4 class="b_title">{{ book.book_title }}</h4>
                        </a>
                        <div class="media post_author">
                            <div class="round_img">
                                {% if book.pictrue %}
                                <img src="{{ book.pictrue }}" alt="">
                                {% else %}
                                <img src="{% static 'img/blog-grid/author_1.jpg' %}" alt="">
                                {% endif %}
                            </div>
                            <div class="media-body author_text">
                                {% if book.codes_yn == "N" %}
                                 <h4>{{ book.author_id }}</h4>
                                 <div class="date">{{ book.wrt_dt | date:'Y.m.d' }}</div>
                                {% else %}
                                <div class="date">{{ book.enfc_dt | date:'Y.m.d' }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p style="margin: auto; padding: 20px 0; color: rgba(0, 0, 0, 0.4);">검색 결과가 없습니다.</p>
            {% endif %}
        </div>
        <div class="col-lg-12 col-sm-2" style="text-align: center">
            <nav class="navigation pagination" style="display: inline;">
                <div class="nav-links" style="padding-top: 50px;">
                    {% if books.has_previous %}
                    <a class="next page-numbers" onclick='onclickPagination("{{ previous_page_number}}")' style="cursor: pointer;"><i class="arrow_carrot-left"></i></a>
                    {% endif %}

                    {% for page_number in books.paginator.page_range %}
                    {% if page_number >= books.number|add:-5 and page_number <= books.number|add:5 %}
                    {% if page_number == books.number %}
                    <a class="page-numbers current" onclick='onclickPagination("{{ page_number}}")' style="cursor: pointer;">{{ page_number}}</a>
                    {% else %}
                    <a class="page-numbers" onclick='onclickPagination("{{ page_number}}")' style="cursor: pointer;">{{ page_number}}</a>
                    {% endif %}
                    {% endif %}
                    {% endfor %}

                    {% if books.has_next %}
                    <a class="next page-numbers" onclick='onclickPagination("{{ next_page_number}}")' style="cursor: pointer;"><i class="arrow_carrot-right"></i></a>
                    {% endif %}
                </div>
            </nav>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'js/common.js' %}"></script>
{% endblock %}