{% extends 'common/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.23/sl-1.3.1/datatables.min.css"/>
    <link rel="stylesheet" href="{% static 'assets/magnify-pop/magnific-popup.css' %}">
    <style>
    .feedback_link {
        padding-top: 0px;
        float: right;
    }
    .sign_right signup_right{
        padding-left: 15px !important;
    }
    form {
        background-color: #F7F8F9;
        border-radius: 10px;
        margin-bottom: 20px;
        padding-left: 20px;
    }
    .small_text {
        margin-top: 5px;
    }
    .paginate_button {
        padding: 0px !important;
    }
    </style>
{% endblock %}
{% block content %}
    <div class="row" style="margin-top: 60px;">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 doc-middle-content">
            <h5>법규 등록</h5>
            <form id="law_form" onsubmit="return false;" name="law_form" class="row login_form">{% csrf_token %}
                <div class="col-sm-5 form-group">
                    <div class="small_text">구분</div>
                    <select type="select" class="form-control" name="target" id="target" onchange="onchangeTarget(this.value)">
                        <option value="law" selected>법령</option>
                        <option value="admrul">행정규칙</option>
                        <option value="ordin">자치법규</option>
                    </select>
                </div>
                <div class="col-sm-5 form-group">
                    <div class="small_text" id="target_no_label">법령 MST</div>
                    <input type="number" class="form-control" name="target_no" id="target_no">
                </div>
                <div class="col-sm-2 form-group text-center" style="position: relative">
                    <button type="button" class="btn action_btn thm_btn" onclick="onclickInsertLaw()"
                    style="transform: translate(-20%, 90%)">등록</button>
                </div>
            </form>
            <h5 id="data-table" style="margin-bottom: -10px;">법규 목록</h5>
            <div class="data_table_area table-responsive">
                <table id="dtMaterialDesignExample" class="table">
                    <thead>
                    <tr>
                        <th class="th-sm">No.</th>
                        <th class="th-sm">법규명</th>
                        <th class="th-sm">시행일</th>
                        <th class="th-sm">공개여부</th>
                        <th class="th-sm">등록일</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if books %}
                    {% for book in books %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a style="color: #6b707f;" href="/book/{{ book.book_id }}">{{ book.book_title }}</a></td>
                        <td>{{ book.enfc_dt | date:'Y.m.d' }}</td>
                        {% if book.rls_yn == "Y" %}
                        <td><a href="#" onclick="onclickLawRlsYn('{{ book.book_id }}', '{{ book.book_title }}')">공개</a></td>
                        {% else %}
                        <td><a href="#" onclick="onclickLawRlsYn('{{ book.book_id }}', '{{ book.book_title }}')">비공개</a></td>
                        {% endif %}
                        <td>{{ book.wrt_dt | date:'Y.m.d' }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3" style="text-align: center">등록된 법규가 없습니다.</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <ul>
                <li><a target="_blank" href="https://law.go.kr/LSO/lab/lawListSupport.do">
                    국가법령정보 링크</a></li>
                <li><a target="_blank" href="http://kkharchitects.com/%ea%b1%b4%ec%b6%95%eb%b2%95%ea%b7%9c%eb%a7%81%ed%81%ac/">
                    건축법규 링크</a></li>
            </ul>
        </div>
        <div class="col-lg-1"></div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'assets/bootstrap/js/bootstrap-select.min.js' %}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.23/sl-1.3.1/datatables.min.js"></script>
    <script src="{% static 'js/theme.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
{% endblock %}