{% extends 'common/base.html' %}
{% load static %}
{% block css %}
<style>
.author_img {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.forum_body  li {
    padding-bottom: 0px !important;
}
.forum_body_area {
    padding-top: 30px;
}
.media {
    padding: 0px !important;
}
.media-body {
    padding-bottom: 0px !important;
}

</style>
{% endblock %}
{% block content %}
<!--================Forum Content Area =================-->
<section class="forum-user-wrapper" style="margin-top: 150px;">
    <div class="container">
        <div class="row forum_main_inner">
            <div class="col-lg-12" style="padding-top: 25px;">
                <div class="forum_body_area">
                    <div class="forum_topic_list">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel"
                                aria-labelledby="home-tab">
                                <div class="profile_info">
                                    <div class="row p_info_item_innerstyle">
                                        {% if user_info %}
                                        <div class="col-sm-4" style="display: table">
                                            <div class="author_img">
                                                <img class="rounded-circle" src="{{ user_info.picture }}" alt="">
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <ul class="navbar-nav info_list">
                                                <li><span>아이디:</span>{{ user_info.username }}</li>
                                                {% if user_info.last_name or first_name %}
                                                <li><span>이름:</span>{{ user_info.last_name }}{{ user_info.first_name }}</li>
                                                {% endif %}
                                                <li><span>이메일:</span>{{ user_info.email }}</li>
                                                <li><span>가입일:</span>{{ user_info.date_joined | date:'Y.m.d' }}</li>
                                            </ul>
                                        </div>
                                    {% endif %}
                                    </div>
                                    <div class="row p_info_item_inner">
                                        <div class="col-sm-4">
                                            <div class="p_info_item">
                                                <img src="{% static 'img/icon/p-icon-1.png' %}" alt="">
                                                <h4>활동 점수</h4>
                                                <a class="info_btn">{{ act_point }}</a>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="p_info_item">
                                                <img src="{% static 'img/icon/p-icon-2.png' %}" alt="">
                                                <h4>댓글</h4>
                                                <a class="info_number">{{ comment_count }}</a>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="p_info_item">
                                                <img src="{% static 'img/icon/p-icon-3.png' %}" alt="">
                                                <h4>좋아요</h4>
                                                <a class="info_number" style="background-color: #E7F8F3; color: #1BBC8D;">{{ like_count }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="forum_l_inner comment_l" style="margin-top: 20px;">
                    <div class="forum_head d-flex justify-content-between">
                        <ul class="nav right" style="padding: 10px;">
                            <li><h5 style="margin-bottom: 0px;">최근 활동</h5></li></ul>
                    </div>
                    <div class="forum_body">
                        <ul class="navbar-nav topic_comment_list">
                            {% if comments %}
                            {% for comment in comments %}
                            <li>
                                <div class="media">
                                    <div class="media-body">
                                        <h6><i class="icon_check_alt"></i> 댓글을 남겼습니다.</h6>
                                        {% if comment.created_string == False %}
                                        <h6><i class="icon_calendar"></i> {{ comment.reg_dt | date:'Y.m.d'  }}</h6>
                                        {% else %}
                                        <h6><i class="icon_calendar"></i> {{ comment.created_string  }}</h6>
                                        {% endif %}
                                        <a href="/forum/{{ comment.comment_id }}"><p>{{ comment.content | truncatechars:80 }}</p></a>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                            {% else %}
                            <li style="text-align: center"><h6>최근 활동이 없습니다.</h6></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="list_pagination d-flex justify-content-between" style="justify-content: center !important;">
                    <div class="right">
                        <nav class="navigation pagination" style="display: inline;">
                            <div class="nav-links" style="padding-top: 50px;">
                                {% if comments.has_previous %}
                                <a class="next page-numbers" onclick='onclickPagination("{{ previous_page_number}}")' style="cursor: pointer;"><i class="arrow_carrot-left"></i></a>
                                {% endif %}

                                {% for page_number in comments.paginator.page_range %}
                                {% if page_number >= comments.number|add:-5 and page_number <= comments.number|add:5 %}
                                {% if page_number == comments.number %}
                                <a class="page-numbers current" onclick='onclickPagination("{{ page_number}}")' style="cursor: pointer;">{{ page_number}}</a>
                                {% else %}
                                <a class="page-numbers" onclick='onclickPagination("{{ page_number}}")' style="cursor: pointer;">{{ page_number}}</a>
                                {% endif %}
                                {% endif %}
                                {% endfor %}

                                {% if comments.has_next %}
                                <a class="next page-numbers" onclick='onclickPagination("{{ next_page_number}}")' style="cursor: pointer;"><i class="arrow_carrot-right"></i></a>
                                {% endif %}
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
<!--================End Forum Content Area =================-->
{% endblock %}

{% block js %}
<script src="{% static 'js/jquery.parallax-scroll.js' %}"></script>
<script src="{% static 'assets/magnify-pop/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/theme.js' %}"></script>
{% endblock %}