@charset "utf-8";

/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,hr,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,span,strike,strong,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;}
body,input,button,select,textarea,label{font-size:16px;color:#2c2321;font-family: 'NanumSquare', sans-serif;font-weight:600;line-height:1.2;}
fieldset,img{border:0 none;vertical-align:top}
dl,ul,ol,menu,li{list-style:none}
a,a:link,a:visited,a:hover,a:active,a:focus{/*color:inherit;*/text-decoration:none}
input,button,select,textarea,label{vertical-align:middle;border:none;background:none;cursor:pointer;}
textarea,select,input{appearance:none;-moz-appearance:none;-webkit-appearance:none;border-radius:0;margin:0;padding:0;border:0}
select::-ms-expand {display:none}
button{background-color:transparent;border:none}
table{border-collapse:collapse;border-spacing:0}
table,th,td{border:none}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;outline:none}
*::before,*::after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
/* HTML5 reset */
article,aside,details,figcaption,figure,footer,header,menu,nav,section,video{display:block}
address,caption,em,i{font-style:normal;font-weight:normal}
iframe,embed,object,video{max-width:100%}
/* mobile.html */
body{-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}
a, p, span, b, h1,h2,h3,h4,h5,h6, input,button,select,textarea,label{transform: skew(-0.03deg);}

.all{
/*    width: 1300px;*/
    margin: 0 auto;
    padding: 65px 30px 0 30px;
}
.clear{clear: both}
.wrap1300{width: 1300px;margin: 0 auto; padding: 40px 0 0 0;}
.maxwrap1300{max-width: 1300px;margin: 0 auto;}

.con_tit h2{ 
}
.con_tit h2 p{ 
    background: #4e76bd;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    padding: 8px 25px;
    display: inline;
}
.con_tit span{
    float: right;
    font-size: 14px;
    margin-top: -10px;
    margin-right: 40px;
}
.con_wrap_ir{    
    border-top: 5px solid rgba(78, 118, 189, 0.3);
    border-bottom: 5px solid rgba(78, 118, 189, 0.3);
    margin-bottom: 30px;

}
.con_wrap_ir li{width: 50%;float: left}
.con_wrap_ir li h5{ 
   font-size: 18px;
    font-weight: 800;
    display: inline-block;
}
.con_wrap_ir li .auswjr{ 
   text-align: right;
    margin-top: -22px
}
.con_wrap_ir li .auswjr input{ 
    border: 0;
    border-bottom: 1px solid;
    width: 50px;
    text-align: center;
    margin: 0 5px;
}
.con_wrap_ir li .auswjr input:hover{ 
    background: #eceff8;
    cursor: pointer
}.con_wrap_ir li .auswjr input:focus{ 
    background: #eceff8;
}

.con_wrap_ir li .auswjr span{ 
} 
.con_wrap_ir_li{border-bottom: 5px solid #fbfbfb;}
.con_wrap_ir_li.con_wrap_ir_li_l{;border-right: 5px solid #fbfbfb;}
.con_wrap_ir_li.con_wrap_ir_li_r{border-right: 0}
.con_wrap_li_tit{padding: 25px 45px;}
.con_select_wrap{   
    padding: 10px 40px 10px 40px;
    border-top: 5px solid #fbfbfb;   
}
.con_select_wrap select{
    width: 90%;
    border: 0;
    font-weight: 600;
    margin-bottom: 35px;
    margin-right: 33px
}
.con_select_wrap select:nth-child(1) {
    margin-top: 25px;
}

.con_select_wrap select:nth-child(5){
    margin-right: 0;
}

.con_select_wrap2 {
    display: flex;
    align-items: center;
    flnex-direction: colum;
    font-weight: 500;
    margin-bottom: 50px;
}
.con_select_wrap2 select:nth-child(5){
    margin-right: 0;
}

.dis_inb{display: inline-block;margin-left: 10px;}
.con_wrap_ir2{text-align: right; padding-top: -35px}
.con_wrap_ir2 h1{font-size: 16px;padding-right: 25px}
.con_wrap_ir2 h2{font-size: 16px;color: #2c63bb;text-align: right;font-weight: 800;}
.con_wrap_ir2 p{font-size: 16px;}
.con_wrap_ir2 p span{    
 font-size: 12px;
    float: left;
    padding: 3px 8px;
}
.con_wrap_ir2 h6{
    font-size: 16px;
    color: #fff;
    background: #7095d1;
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
    margin-left: 35px;
}

.con_wrap_ir2_red h2{color: #bb594f}
.con_wrap_ir2_red h6 {background: #d18e88}
.ckdghwhdfb{   
    margin-bottom: 35px;
    margin-right: 33px;
}

.con_top190{height: 170px;}
.con_top{
    
}
/*select*/
.all select{background:url("../img/select_arrow.png") no-repeat 100% 50%/7px auto;padding: 0 20px 0 5px;}
/*상단*/
.con_top .con_top_li h2{color: #2c63bb;font-size: 28px;font-weight: 800;margin-right: 20px;}
.con_top .con_top_li{display: inline-block}
.con_top .con_top_li2{margin-left: 10px;}
.con_top .con_top_li select{
    display: inline-block;
    margin: 0 8px;
    font-size: 15px;
    font-weight: 600;
}
.con_top .con_top_li select:hover{
    color: #98a1ce;
     transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out;
}
.con_top .con_top_li h3{display: inline-block;font-weight: 800;font-size: 20px;margin-right: 5px}
.con_top .con_top_li3 select{font-size: 17px;}
.con_top .con_top_li3 p{font-size: 17px;font-weight: 600;display: inline-block;margin-left: 10px;cursor: pointer}
.con_top .con_top_li3 .leset{    
    font-size: 17px;
    font-weight: 600;
    margin-left: 22px;
    /* position: absolute; */
    cursor: pointer;
}


.con_top .con_top_01{padding-bottom: 30px;box-shadow: 0 5px 5px #fbfbfb;}
.con_top .con_top_02 li{float: left;font-size: 13px;line-height: 1.6;padding-right: 100px;padding: 30px 167px 60px 0}
.con_top .con_top_02 li:nth-child(3){padding-right:0;text-align: right}

.btn_header {margin: 0 10px;}

/**/
.con_bot{margin-bottom: 70px; padding-right: 40px; text-align: right}
.con_bot p{font-size: 17px;display: inline-block}
.con_bot span{font-size: 18px;color: #2c63bb;font-weight: 800;}
.con_bot h6 {
    font-size: 17px;
    color: #fff;
    background: #2c63bb;
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
    display: inline-block
}

.con_bot_red{margin-bottom: 70px; padding-right: 40px; text-align: right}
.con_bot_red p{font-size: 17px;display: inline-block}
.con_bot_red span{font-size: 18px;color: #bb594f;font-weight: 800;}
.con_bot_red h6 {
    font-size: 17px;
    color: #fff;
    background: #d18e88;
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
    display: inline-block
}

.con_btn_wrap{text-align: center}
.con_btn_wrap a{
    font-size: 16px;
    color: #fff;
    background: #2758af;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: 800;
    display: inline-block;
    margin: 0 15px 100px;
    transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out;
}

.con_btn_wrap .dlatlwjwkd{
    color: #2c63bb;
    border: 2px solid #2758af;
    background: #fff
}
.con_btn_wrap a:hover{background:#2758af;color: #fff;}

/*footer*/
footer{letter-spacing: -0.3px;line-height: 1.8}
footer .f_nav{display: inline-block;}
footer .f_nav .f_nav_sub1{display: inline-block; width: 150px;font-weight: 800}
footer .f_nav .f_nav_sub2{position: absolute;margin-top: 15px;font-weight: 500}
footer .f_nav .f_nav_sub2 li{display: block;}

footer .ft_cs{float: right;text-align: right;margin-bottom: 70px;}
footer .ft_cs h5{font-size: 20px;font-weight: 800;margin-bottom: 20px;}
footer .ft_cs p{font-weight: 500}
footer .ft_cs p b{font-weight: 700;}

footer .f_info{margin-bottom: 60px;display: inline-block;}
footer .f_info p{font-weight: 500;font-size: 16px;margin-top: 15px}

footer .f_slogan{float: right;text-align: right;margin-top: -20px}
footer .f_slogan h1{font-size: 43px;font-weight: 500}
footer .f_slogan p{font-size: 19px}

footer .f_sns{margin-bottom: 80px;}
footer .f_sns img{width: 33px;margin-right: 15px}

/** 너비축소 반응형
@media(max-width:1299px){
.con_wrap_ir li {
    width: 100%;
    float: none;
}
}*/