{% extends 'common/base.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'uvalue/img/favicon.ico' %}" rel="icon" sizes="16x16" type="image/png">
    <link href="{% static 'uvalue/css/style.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'uvalue/css/menu.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="all">
        <!-- Start of Header -->
        <div class="con_top wrap1300">
            <div class="con_top_01">
                <div class="con_top_li">
                    <h4>열관류율 계산기 (KS)</h4>
                </div>
                <div class="con_top_li" style="float: right">
                    <div class="con_top_li con_top_li2">
                        <h3 style="color: #2c63bb">지역구분</h3>
                        <select id="sido1" name="sido1"></select>
                        <select id="gugun1" name="gugun1" style="display: none"></select>
                        <select id="locale" disabled>
                            <option value="" disabled hidden selected>지역구분</option>
                        </select>
                    </div>
                    <div class="con_top_li con_top_li2 con_top_li3">
                        <h3 style="color: #2c63bb">용도구분</h3>
                        <select id="use" onchange="onchangeUse(this.value)">
                            <option disabled hidden selected>용도구분</option>
                        </select>
                        <p><a onclick="onclickReview()"><img src="{% static 'uvalue/img/search_icon.png' %}" class="btn_header" style="width: 15px; height: 19px;">검토</a></p>
                        <p><a onclick="onclickReset()"><img src="{% static 'uvalue/img/reset_icon.png' %}" class="btn_header" style="width: 18px; height: 18px;">초기화</a></p>
                    </div>
                </div>
            </div>
            <div class="con_top_02">
                <ul>
                    <li>
                        <p>
                            본 계산기는 3,000m² 이하 중소규모 건축물 검토에 적합함. <br>
                            창호열관류율은 제조사의 시험성적서 값을 임의적용함. <br>
                            표면 열전달 저항값 자동 계산됨
                        </p>
                    </li>
                    <li>
                        <p>
                            에너지 절약 설계기준 국토부 고시 제 2017-881호 적용 <br>
                            지역별 녹색건축설계기준 고려한 평균열관류율 기준 적용
                        </p>
                    </li>
                    <li>
                        <p>
                            녹색건축물 기준 검토 및 계산기 관련 문의 <br>
                            info@codaa.kr
                        </p>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <!-- End of Header -->
        <!-- Start of Container -->
        <div class="con_wrap maxwrap1300">
            <!-- Google Ad  -->
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                 style="display:block; text-align:center;"
                 data-ad-layout="in-article"
                 data-ad-format="fluid"
                 data-ad-client="ca-pub-8123301605290544"
                 data-ad-slot="5045668696"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <!-- Start of External-Wall -->
            <div class="con_tit">
                <span>*&nbsp;자재의 종류와 두께를 선택하면 열관류율이 자동 계산됨</span>
                <h2>
                    <p>외벽평균열관류율</p>
                </h2>
            </div>
            <div class="con_wrap_ir">
                <ul>
                    <div name="wall">
                        <li>
                            <div class="con_wrap_ir_li con_wrap_ir_li_l">
                                <div class="con_wrap_li_tit">
                                    <h5>외벽 (직접)</h5>
                                    <div class="auswjr">
                                        <span> 면적
                                            <input id="wall-direct-width" onchange="onchangeWidth(this.id)" type="number"
                                                   value="75">m²
                                        </span>
                                    </div>
                                </div>
                                <ul>
                                    <li>
                                        <div class="con_select_wrap">
                                            <select id="wall-direct-kind-1" onchange="onchangeCombobox(this.id)">
                                                <option disabled hidden selected>외부마감재 종류</option>
                                            </select>
                                            <select id="wall-direct-kind-2" onchange="onchangeCombobox(this.id)">
                                                <option disabled hidden selected>단열재 종류</option>
                                            </select>
                                            <select id="wall-direct-kind-3" onchange="onchangeCombobox(this.id)">
                                                <option disabled hidden selected>구조 재료</option>
                                            </select>
                                            <select id="wall-direct-kind-4" onchange="onchangeCombobox(this.id)">
                                                <option disabled hidden selected>단열재 종류</option>
                                            </select>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="con_select_wrap">
                                            <select id="wall-direct-thick-1" disabled>
                                                <option disabled hidden selected>외부마감재 두께</option>
                                                <option value="0">0</option>
                                                <option value="20">20</option>
                                                <option value="90">90</option>
                                                <option value="190">190</option>
                                                <option value="290">290</option>
                                                <option value="390">390</option>
                                            </select>
                                            <select id="wall-direct-thick-2" onchange="onchangeCombobox(this.id)">
                                                <option disabled hidden selected>단열재 두께</option>
                                            </select>
                                            <select id="wall-direct-thick-3" onchange="onchangeCombobox(this.id)">
                                                <option disabled hidden selected>구조 두께</option>
                                            </select>
                                            <select id="wall-direct-thick-4" onchange="onchangeCombobox(this.id)">
                                                <option disabled hidden selected>단열재 두께</option>
                                            </select>
                                        </div>
                                    </li>
                                    <div id="wall-direct-header" class="con_select_wrap" style="visibility: hidden;">
                                        <div class="con_wrap_ir2">
                                            <h1 class="dis_inb">적용 열관류율</h1>
                                            <h2 id="wall-direct-trans" class="dis_inb"></h2>
                                            <p class="dis_inb">W/m²K로 법적 기준 <br><span id="wall-direct-locale"></span></p>
                                            <h6 id="wall-direct-result" class="dis_inb"></h6>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="con_wrap_ir_li con_wrap_ir_li_r">
                                <div class="con_wrap_li_tit">
                                    <h5>외벽 (간접)</h5>
                                    <div class="auswjr">
                                        <span> 면적
                                            <input id="wall-indirect-width" onchange="onchangeWidth(this.id)" type="number"
                                                   value="0">m²
                                        </span>
                                    </div>
                                </div>
                                <ul>
                                    <li>
                                        <div class="con_select_wrap">
                                            <select id="wall-indirect-kind-1" onchange="onchangeCombobox(this.id)">
                                                <option disabled hidden selected>외부마감재 종류</option>
                                            </select>
                                            <select id="wall-indirect-kind-2" onchange="onchangeCombobox(this.id)">
                                                <option disabled hidden selected>단열재 종류</option>
                                            </select>
                                            <select id="wall-indirect-kind-3" onchange="onchangeCombobox(this.id)">
                                                <option disabled hidden selected>구조 재료</option>
                                            </select>
                                            <select id="wall-indirect-kind-4" onchange="onchangeCombobox(this.id)">
                                                <option disabled hidden selected>단열재 종류</option>
                                            </select>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="con_select_wrap">
                                            <select id="wall-indirect-thick-1" disabled>
                                                <option disabled hidden selected>외부마감재 두께</option>
                                                <option value="0">0</option>
                                                <option value="20">20</option>
                                                <option value="90">90</option>
                                                <option value="190">190</option>
                                                <option value="290">290</option>
                                                <option value="390">390</option>
                                            </select>
                                            <select id="wall-indirect-thick-2" onchange="onchangeCombobox(this.id)">
                                                <option disabled hidden selected>단열재 두께</option>
                                            </select>
                                            <select id="wall-indirect-thick-3" onchange="onchangeCombobox(this.id)">
                                                <option disabled hidden selected>구조 두께</option>
                                            </select>
                                            <select id="wall-indirect-thick-4" onchange="onchangeCombobox(this.id)">
                                                <option disabled hidden selected>단열재 두께</option>
                                            </select>
                                        </div>
                                    </li>
                                    <div id="wall-indirect-header" class="con_select_wrap" style="visibility: hidden;">
                                        <div class="con_wrap_ir2">
                                            <h1 class="dis_inb">적용 열관류율</h1>
                                            <h2 id="wall-indirect-trans" class="dis_inb"></h2>
                                            <p class="dis_inb">W/m²K로 법적 기준 <br><span id="wall-indirect-locale"></span></p>
                                            <h6 id="wall-indirect-result" class="dis_inb"></h6>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </li>
                    </div>
                    <div name="win">
                        <li>
                            <div class="con_wrap_ir_li con_wrap_ir_li_l">
                                <div class="con_wrap_li_tit">
                                    <h5>창호 (직접)</h5>
                                    <div class="auswjr">
                                        <span> 면적
                                            <input id="win-direct-width" onchange="onchangeWidth(this.id)" type="number"
                                                   value="25">m²
                                        </span>
                                    </div>
                                </div>
                                <div class="con_select_wrap">
                                    <select id="win-direct-kind-1" onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>창호 종류</option>
                                    </select>
                                    <div id="win-direct-header" class="con_wrap_ir2" style="visibility: hidden;">
                                        <h1 class="dis_inb">적용 열관류율</h1>
                                        <h2 id="win-direct-trans" class="dis_inb"></h2>
                                        <p class="dis_inb">W/m²K로 법적 기준 <br><span id="win-direct-locale"></span></p>
                                        <h6 id="win-direct-result" class="dis_inb"></h6>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="con_wrap_ir_li con_wrap_ir_li_r">
                                <div class="con_wrap_li_tit">
                                    <h5>창호 (간접)</h5>
                                    <div class="auswjr">
                                        <span> 면적
                                            <input id="win-indirect-width" onchange="onchangeWidth(this.id)" type="number"
                                                   value="0">m²
                                        </span>
                                    </div>
                                </div>
                                <div class="con_select_wrap">
                                    <select id="win-indirect-kind-1" onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>창호 종류</option>
                                    </select>
                                    <div id="win-indirect-header" class="con_wrap_ir2" style="visibility: hidden;">
                                        <h1 class="dis_inb">적용 열관류율</h1>
                                        <h2 id="win-indirect-trans" class="dis_inb"></h2>
                                        <p class="dis_inb">W/m²K로 법적 기준 <br><span id="win-indirect-locale"></span></p>
                                        <h6 id="win-indirect-result" class="dis_inb"></h6>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </div>
                    <div class="clear"></div>
                </ul>
            </div>
            <div id="wall-avg-header" class="con_bot" style="display: none;">
                <p><span><b style="font-size:27px">=</b> &nbsp;&nbsp;&nbsp; 외벽평균열관류율</span>
                <p id="wall-width-ratio"></p>&nbsp;<span id="wall-avg-trans"></span>&nbsp;
                W/m²k &nbsp;
                : &nbsp;<p id="wall-avg-point"></p>
                <p id="wall-avg-locale"></p>
                <p id="wall-avg-result-1"></p></p>
                <h6 id="wall-avg-result" class="dis_inb"></h6>
            </div>
            <!-- End of External-Wall -->
            <div class="clear"></div>
            <!-- Start of Roof -->
            <div class="con_tit">
                <h2>
                    <p>지붕평균열관류율</p>
                </h2>
            </div>
            <div name="roof" class="con_wrap_ir">
                <ul>
                    <li>
                        <div class="con_wrap_ir_li con_wrap_ir_li_l">
                            <div class="con_wrap_li_tit">
                                <h5>최상층지붕 (직접)</h5>
                                <div class="auswjr">
                                    <span> 면적
                                        <input id="roof-direct-width" onchange="onchangeWidth(this.id)" type="number"
                                               value="100">m²
                                    </span>
                                </div>
                            </div>
                            <ul>
                                <li>
                                    <div class="con_select_wrap">
                                        <select id="roof-direct-kind-1" onchange="onchangeCombobox(this.id)">
                                            <option disabled hidden selected>외부마감재 종류</option>
                                        </select>
                                        <select id="roof-direct-kind-2" onchange="onchangeCombobox(this.id)">
                                            <option disabled hidden selected>구조 재료</option>
                                        </select>
                                        <select id="roof-direct-kind-3" onchange="onchangeCombobox(this.id)">
                                            <option disabled hidden selected>단열재 종류</option>
                                        </select>
                                    </div>
                                </li>
                                <li>
                                    <div class="con_select_wrap">
                                        <select id="roof-direct-thick-1" disabled>
                                            <option disabled hidden selected>외부마감재 두께</option>
                                            <option value="0">0</option>
                                            <option value="20">20</option>
                                            <option value="90">90</option>
                                            <option value="190">190</option>
                                            <option value="290">290</option>
                                            <option value="390">390</option>
                                        </select>
                                        <select id="roof-direct-thick-2" onchange="onchangeCombobox(this.id)">
                                            <option disabled hidden selected>구조 두께</option>
                                        </select>
                                        <select id="roof-direct-thick-3" onchange="onchangeCombobox(this.id)">
                                            <option disabled hidden selected>단열재 두께</option>
                                        </select>
                                    </div>
                                </li>
                                <div id="roof-direct-header" class="con_select_wrap" style="visibility: hidden;">
                                    <div class="con_wrap_ir2">
                                        <h1 class="dis_inb">적용 열관류율</h1>
                                        <h2 id="roof-direct-trans" class="dis_inb"></h2>
                                        <p class="dis_inb">W/m²K로 법적 기준 <br><span id="roof-direct-locale"></span></p>
                                        <h6 id="roof-direct-result" class="dis_inb"></h6>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="con_wrap_ir_li con_wrap_ir_li_r">
                            <div class="con_wrap_li_tit">
                                <h5>최상층지붕 (간접)</h5>
                                <div class="auswjr">
                                    <span> 면적
                                        <input id="roof-indirect-width" onchange="onchangeWidth(this.id)" type="number"
                                               value="0">m²
                                    </span>
                                </div>
                            </div>
                            <ul>
                                <li>
                                    <div class="con_select_wrap">
                                        <select id="roof-indirect-kind-1" onchange="onchangeCombobox(this.id)">
                                            <option disabled hidden selected>외부마감재 종류</option>
                                        </select>
                                        <select id="roof-indirect-kind-2" onchange="onchangeCombobox(this.id)">
                                            <option disabled hidden selected>구조 재료</option>
                                        </select>
                                        <select id="roof-indirect-kind-3" onchange="onchangeCombobox(this.id)">
                                            <option disabled hidden selected>단열재 종류</option>
                                        </select>
                                    </div>
                                </li>
                                <li>
                                    <div class="con_select_wrap">
                                        <select id="roof-indirect-thick-1" disabled>
                                            <option disabled hidden selected>외부마감재 두께</option>
                                            <option value="0">0</option>
                                            <option value="20">20</option>
                                            <option value="90">90</option>
                                            <option value="190">190</option>
                                            <option value="290">290</option>
                                            <option value="390">390</option>
                                        </select>
                                        <select id="roof-indirect-thick-2" onchange="onchangeCombobox(this.id)">
                                            <option disabled hidden selected>구조 두께</option>
                                        </select>
                                        <select id="roof-indirect-thick-3" onchange="onchangeCombobox(this.id)">
                                            <option disabled hidden selected>단열재 두께</option>
                                        </select>
                                    </div>
                                </li>
                                <div id="roof-indirect-header" class="con_select_wrap" style="visibility: hidden;">
                                    <div class="con_wrap_ir2">
                                        <h1 class="dis_inb">적용 열관류율</h1>
                                        <h2 id="roof-indirect-trans" class="dis_inb"></h2>
                                        <p class="dis_inb">W/m²K로 법적 기준 <br><span id="roof-indirect-locale"></span></p>
                                        <h6 id="roof-indirect-result" class="dis_inb"></h6>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </li>
                    <div class="clear"></div>
                </ul>
            </div>
            <div id="roof-avg-header" class="con_bot" style="display: none;">
                <p><span><b style="font-size:27px">=</b> &nbsp;&nbsp;&nbsp; 지붕평균열관류율</span>
                    <span id="roof-avg-trans"></span>&nbsp;
                    W/m²k &nbsp;
                    : &nbsp;
                <p id="roof-avg-point"></p>
                <p id="roof-avg-locale"></p>
                <p id="roof-avg-result-1"></p>
                <h6 id="roof-avg-result" class="dis_inb"></h6>
            </div>
            <!-- End of Roof -->
            <div class="clear"></div>
            <!-- Start of Floor -->
            <div class="con_tit">
                <h2>
                    <p>바닥평균열관류율</p>
                </h2>
            </div>
            <div class="con_wrap_ir">
                <ul name="floorb">
                    <li>
                        <div class="con_wrap_ir_li con_wrap_ir_li_l">
                            <div class="con_wrap_li_tit">
                                <h5>최하층바닥 (직접)</h5>
                                <div class="auswjr">
                                    <span> 면적<input id="floorb-direct-width" onchange="onchangeWidth(this.id)" type="text"
                                                    type="number" value="100">m²</span>
                                </div>
                            </div>
                            <ul>
                                <li>
                                    <div class="con_select_wrap">
                                        <select id="floorb-direct-kind-1" disabled>
                                            <option disabled hidden selected>바닥슬라브</option>
                                            <option value="1.6">콘크리트 구조</option>
                                        </select>
                                        <select id="floorb-direct-kind-2" onchange="onchangeCombobox(this.id)">
                                            <option disabled hidden selected>단열재 종류</option>
                                        </select>
                                    </div>
                                </li>
                                <li>
                                    <div class="con_select_wrap">
                                        <select id="floorb-direct-thick-1" onchange="onchangeCombobox(this.id)">
                                            <option disabled hidden selected>슬라브 두께</option>
                                        </select>
                                        <select id="floorb-direct-thick-2" onchange="onchangeCombobox(this.id)">
                                            <option disabled hidden selected>단열재 두께</option>
                                        </select>
                                    </div>
                                </li>
                                <div id="floorb-direct-header" class="con_select_wrap" style="visibility: hidden;">
                                    <div class="con_wrap_ir2">
                                        <h1 class="dis_inb">적용 열관류율</h1>
                                        <h2 id="floorb-direct-trans" class="dis_inb"></h2>
                                        <p class="dis_inb">W/m²K로 법적 기준 <br><span id="floorb-direct-locale"></span></p>
                                        <h6 id="floorb-direct-result" class="dis_inb"></h6>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="con_wrap_ir_li con_wrap_ir_li_r">
                            <div class="con_wrap_li_tit">
                                <h5>최하층바닥 (간접)</h5>
                                <div class="auswjr">
                                    <span> 면적
                                        <input id="floorb-indirect-width" onchange="onchangeWidth(this.id)" type="number"
                                               value="0">m²
                                    </span>
                                </div>
                            </div>
                            <ul>
                                <li>
                                    <div class="con_select_wrap">
                                        <select id="floorb-indirect-kind-1" disabled>
                                            <option disabled hidden selected>바닥슬라브</option>
                                            <option value="1.6">콘크리트 구조</option>
                                        </select>
                                        <select id="floorb-indirect-kind-2" onchange="onchangeCombobox(this.id)">
                                            <option disabled hidden selected>단열재 종류</option>
                                        </select>
                                    </div>
                                </li>
                                <li>
                                    <div class="con_select_wrap">
                                        <select id="floorb-indirect-thick-1" onchange="onchangeCombobox(this.id)">
                                            <option disabled hidden selected>슬라브 두께</option>
                                        </select>
                                        <select id="floorb-indirect-thick-2" onchange="onchangeCombobox(this.id)">
                                            <option disabled hidden selected>단열재 두께</option>
                                        </select>
                                    </div>
                                </li>
                                <div id="floorb-indirect-header" class="con_select_wrap" style="visibility: hidden;">
                                    <div class="con_wrap_ir2">
                                        <h1 class="dis_inb">적용 열관류율</h1>
                                        <h2 id="floorb-indirect-trans" class="dis_inb"></h2>
                                        <p class="dis_inb">W/m²K로 법적 기준 <br><span id="floorb-indirect-locale"></span></p>
                                        <h6 id="floorb-indirect-result" class="dis_inb"></h6>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </li>
                    <div class="clear"></div>
                </ul>
                <ul name="floor">
                    <li>
                        <div class="con_wrap_ir_li con_wrap_ir_li_l">
                            <div class="con_wrap_li_tit">
                                <h5>최하층바닥 (직접,바닥난방)</h5>
                                <div class="auswjr">
                                    <span> 면적
                                        <input id="floor-direct-width" onchange="onchangeWidth(this.id)" type="number"
                                               value="0">m²
                                    </span>
                                </div>
                            </div>
                            <ul>
                                <li>
                                    <div class="con_select_wrap" style="padding-bottom: -20px;">
                                        <select id="floor-direct-kind-1" disabled>
                                            <option value="1.4">바닥난방 없음</option>
                                        </select>
                                        <select id="floor-direct-kind-2" onchange="onchangeCombobox(this.id)">
                                            <option disabled hidden selected>기포콘크리트</option>
                                        </select>
                                        <select id="floor-direct-kind-3" onchange="onchangeCombobox(this.id)" style="margin-bottom: 15px;">
                                            <option disabled hidden selected>단열재 종류</option>
                                        </select>
                                    </div>
                                </li>
                                <li>
                                    <div class="con_select_wrap" style="padding-bottom: -20px;">
                                        <select id="floor-direct-thick-1" onchange="onchangeCombobox(this.id)">
                                            <option disabled hidden selected>바닥난방 두께</option>
                                        </select>
                                        <select id="floor-direct-thick-2" onchange="onchangeCombobox(this.id)" disabled>
                                            <option disabled hidden selected>기포콘크리트 두께</option>
                                        </select>
                                        <select id="floor-direct-thick-3" onchange="onchangeCombobox(this.id)" style="margin-bottom: 15px;">
                                            <option disabled hidden selected>단열재 두께</option>
                                        </select>
                                    </div>
                                </li>
                                <div id="floor-direct-slab-header" class="con_select_wrap" style="visibility: hidden;">
                                    <div class="con_wrap_ir2">
                                        <h1 class="dis_inb" style="padding-right: 0px;">슬라브상부 단열저항값</h1>
                                        <h2 id="floor-direct-slab" class="dis_inb"></h2>
                                        <p class="dis_inb">W/m²K<br><span id="floor-direct-slab-standard"></span></p>
                                        <h6 id="floor-direct-slab-result" class="dis_inb"></h6>
                                    </div>
                                </div>
                            </ul>
                            <ul>
                                <li>
                                    <div class="con_select_wrap" style="border-top: 0px !important;">
                                        <select id="floor-direct-kind-4" style="margin-top: 0px;" disabled>
                                            <option disabled hidden selected>바닥슬라브</option>
                                            <option value="1.6">콘크리트 구조</option>
                                        </select>
                                        <select id="floor-direct-kind-5" onchange="onchangeCombobox(this.id)" >
                                            <option disabled hidden selected>단열재 종류</option>
                                        </select>
                                    </div>
                                </li>
                                <li>
                                    <div class="con_select_wrap" style="border-top: 0px !important;">
                                        <select id="floor-direct-thick-4" onchange="onchangeCombobox(this.id)" style="margin-top: 0px;">
                                            <option disabled hidden selected>슬라브 두께</option>
                                        </select>
                                        <select id="floor-direct-thick-5" onchange="onchangeCombobox(this.id)">
                                            <option disabled hidden selected>단열재 두께</option>
                                        </select>
                                    </div>
                                </li>
                                <div id="floor-direct-header" class="con_select_wrap" style="visibility: hidden; border-top: 0px !important;">
                                    <div class="con_wrap_ir2">
                                        <h1 class="dis_inb">적용 열관류율</h1>
                                        <h2 id="floor-direct-trans" class="dis_inb"></h2>
                                        <p class="dis_inb">W/m²K로 법적 기준 <br><span id="floor-direct-locale"></span></p>
                                        <h6 id="floor-direct-result" class="dis_inb"></h6>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="con_wrap_ir_li con_wrap_ir_li_r">
                            <div class="con_wrap_li_tit">
                                <h5>최하층바닥 (간접,바닥난방)</h5>
                                <div class="auswjr">
                                    <span> 면적
                                        <input id="floor-indirect-width" onchange="onchangeWidth(this.id)" type="number"
                                               value="0">m²
                                    </span>
                                </div>
                            </div>
                            <ul>
                                <li>
                                    <div class="con_select_wrap">
                                        <select id="floor-indirect-kind-1" disabled>
                                            <option value="1.4">바닥난방 없음</option>
                                        </select>
                                        <select id="floor-indirect-kind-2" onchange="onchangeCombobox(this.id)">
                                            <option disabled hidden selected>기포콘크리트</option>
                                        </select>
                                        <select id="floor-indirect-kind-3" onchange="onchangeCombobox(this.id)" style="margin-bottom: 15px;">
                                            <option disabled hidden selected>단열재 종류</option>
                                        </select>
                                    </div>
                                </li>
                                <li>
                                    <div class="con_select_wrap">
                                        <select id="floor-indirect-thick-1" onchange="onchangeCombobox(this.id)">
                                            <option disabled hidden selected>바닥난방 두께</option>
                                        </select>
                                        <select id="floor-indirect-thick-2" onchange="onchangeCombobox(this.id)" disabled>
                                            <option disabled hidden selected>기포콘크리트 두께</option>
                                        </select>
                                        <select id="floor-indirect-thick-3" onchange="onchangeCombobox(this.id)" style="margin-bottom: 15px;">
                                            <option disabled hidden selected>단열재 두께</option>
                                        </select>
                                    </div>
                                </li>
                                <div id="floor-indirect-slab-header" class="con_select_wrap" style="visibility: hidden;">
                                    <div class="con_wrap_ir2">
                                        <h1 class="dis_inb" style="padding-right: 0px;">슬라브상부 단열저항값</h1>
                                        <h2 id="floor-indirect-slab" class="dis_inb"></h2>
                                        <p class="dis_inb">W/m²K<br><span id="floor-indirect-slab-standard"></span></p>
                                        <h6 id="floor-indirect-slab-result" class="dis_inb"></h6>
                                    </div>
                                </div>
                            </ul>
                            <ul>
                                <li>
                                    <div class="con_select_wrap" style="border-top: 0px !important;">
                                        <select id="floor-indirect-kind-4" style="margin-top: 0px;" disabled>
                                            <option disabled hidden selected>바닥슬라브</option>
                                            <option value="1.6">콘크리트 구조</option>
                                        </select>
                                        <select id="floor-indirect-kind-5" onchange="onchangeCombobox(this.id)">
                                            <option disabled hidden selected>단열재 종류</option>
                                        </select>
                                    </div>
                                </li>
                                <li>
                                    <div class="con_select_wrap" style="border-top: 0px !important;">
                                        <select id="floor-indirect-thick-4" onchange="onchangeCombobox(this.id)" style="margin-top: 0px;">
                                            <option disabled hidden selected>슬라브 두께</option>
                                        </select>
                                        <select id="floor-indirect-thick-5" onchange="onchangeCombobox(this.id)">
                                            <option disabled hidden selected>단열재 두께</option>
                                        </select>
                                    </div>
                                </li>
                                <div id="floor-indirect-header" class="con_select_wrap" style="visibility: hidden; border-top: 0px !important;">
                                    <div class="con_wrap_ir2">
                                        <h1 class="dis_inb">적용 열관류율</h1>
                                        <h2 id="floor-indirect-trans" class="dis_inb"></h2>
                                        <p class="dis_inb">W/m²K로 법적 기준 <br><span id="floor-indirect-locale"></span></p>
                                        <h6 id="floor-indirect-result" class="dis_inb"></h6>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </li>
                    <div class="clear"></div>
                </ul>
            </div>
            <div id="floor-avg-header" class="con_bot" style="display: none;">
            <p><span><b style="font-size:27px">=</b> &nbsp;&nbsp;&nbsp; 바닥평균열관류율</span>
                <span id="floor-avg-trans"></span>&nbsp;
                W/m²k &nbsp;
                : &nbsp;
            <p id="floor-avg-point"></p>
            <p id="floor-avg-locale"></p>
            <p id="floor-avg-result-1"></p></p>
            <h6 id="floor-avg-result" class="dis_inb"></h6>
        </div>
        </div>
        <!-- Google Ad  -->
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
             style="display:block; text-align:center;"
             data-ad-layout="in-article"
             data-ad-format="fluid"
             data-ad-client="ca-pub-8123301605290544"
             data-ad-slot="5045668696"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'uvalue/js/script.js' %}"></script>
    <script data-ad-client="ca-pub-8123301605290544" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        window.onload = function() {
            initCodeSet("{{ sido1 }}", "{{ gugun1 }}", "{{ locale }}", "{{ use }}");
        }
    </script>
{% endblock %}