{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'assets/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/slick/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'assets/ionicons/css/ionicons.min.css' %}">
    <style>
        .search_btn {
            border-width: 0px;
            background-color: #FFFFFF
        }
        .forum_topic_list_inner{
            margin: auto 0px;
        }
    </style>
{% endblock %}
{% block content %}
<!--================Forum Body Area =================-->
<section class="forum_sidebar_area" id="sticky_doc">
    <div class="container-fluid pl-60 pr-60">
        <div class="row">
            <div class="col-xl-1 d-none d-xl-block"></div>
            <div class="col-xl-10 col-lg-8">
                <div class="forum_topic_list_inner">
                    <div class="row">
                        <div class="col-lg-9"></div>
                        <div class="col-lg-3">
                            <form action="/forum/">
                                <div class="form-group">
                                    <div class="search-input">
                                        <input type="text" placeholder="검색어" value="{{ keyword }}" class="" name="keyword">
                                        <button class="search_btn" type="submit">
                                            <ion-icon class="search-icon" name="search-outline" style="font-size: 18px;"></ion-icon>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="forum_l_inner">
                        <div class="forum_head d-flex justify-content-between">
                            <ul class="nav left">
                                <li><a href="/forum/"><i class="icon_refresh"></i> Reset</a></li>
                            </ul>
                            <ul class="nav right">
                                <li></li>
                                <li>
                                    <div class="dropdown right_dir">
                                        <button id="" class="btn dropdown-toggle" type="button" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                            {% for sort in sort_list %}{% if forloop.counter == 1 %}{{ sort.label }}{% endif %}{% endfor %}
                                            <i class="arrow_carrot-down"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <div class="all_users short-by scroll">
                                                {% for sort in sort_list %}
                                                    {% if forloop.counter == 1 %}
                                                    <a class="dropdown-item active-short" href="/forum/?sort={{ sort.value }}">
                                                        <ion-icon name="checkmark-outline"></ion-icon> {{ sort.label }}
                                                    </a>
                                                    {% else %}
                                                    <a class="dropdown-item" href="/forum/?sort={{ sort.value }}"> {{ sort.label }} </a>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="forum_body">
                            {% if comments %}
                            {% for comment in comments %}
                            <ul class="navbar-nav topic_list">
                                <li>
                                    <div class="media">
                                        <div class="d-flex">
                                            <a href="/profile/{{ comment.username }}"><img class="rounded-circle" src="{{ comment.picture }}"
                                                 alt="{% static 'img/forum/f-user-2.png' %}" style="width: 45px;"></a>
                                        </div>
                                        <div class="media-body">
                                            <div class="t_title">
                                                <a href="/forum/{{ comment.comment_id }}">
                                                    <h4>{{ comment.content  | truncatechars:60 }}</h4>
                                                </a>
                                            </div>
                                            <a href="/page/{{ comment.page_id }}"><h6 style="margin-right: 0px;">{{ comment.page_title | truncatechars:40 }} |</h6></a>
                                            <a href="/profile/{{ comment.username }}"><h6 style="margin-right: 0px;">{{ comment.username }} | </h6></a>
                                            {% if comment.created_string == False %}
                                            <h6>{{ comment.reg_dt | date:'Y.m.d' }}</h6>
                                            {% else %}
                                            <h6>{{ comment.created_string }}</h6>
                                            {% endif %}
                                        </div>
                                        <div class="media-right">
                                            {% if comment.is_liked == "true" %}
                                            <a id="like-count-{{ comment.comment_id }}" class="count" onclick="onclickLikeComment('{{ comment.comment_id }}')">
                                            <ion-icon name="heart" style="cursor: pointer;"></ion-icon>{{ comment.like_user_count }}</a>
                                            {% else %}
                                            <a id="like-count-{{ comment.comment_id }}" class="count" onclick="onclickLikeComment('{{ comment.comment_id }}')">
                                            <ion-icon name="heart-outline" style="cursor: pointer;"></ion-icon>{{ comment.like_user_count }}</a>
                                            {% endif %}
                                            <a class="count" href="#"><ion-icon name="chatbubbles-outline"></ion-icon>{{ comment.child_count }}</a>
                                            <a class="count" href="#"><ion-icon name="eye-outline"></ion-icon>{{ comment.hit_count }}</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row pagination_inner">
                        <div class="col-lg-2">
                            {% if comments_count %}
                            <h6>Total: <span> {{ comments_count }} </span></h6>
                            {% endif %}
                        </div>
                        <div class="col-lg-8 col-sm-2" style="text-align: center">
                            <nav class="navigation pagination" style="display: inline;">
                                <div class="nav-links" style="padding-top: 50px;">
                                    {% if comments.has_previous %}
                                    <a class="next page-numbers" onclick='onclickPagination("{{ previous_page_number}}")' style="cursor: pointer;"><i class="arrow_carrot-left"></i></a>
                                    {% endif %}
                                    {% for page_number in comments.paginator.page_range %}
                                    {% if page_number >= comments.number|add:-5 and page_number <= comments.number|add:5 %}
                                    {% if page_number == comments.number %}
                                    <a class="page-numbers current" onclick='onclickPagination("{{ page_number}}")' style="cursor: pointer;">{{ page_number}}</a>
                                    {% else %}
                                    <a class="page-numbers" onclick='onclickPagination("{{ page_number}}")' style="cursor: pointer;">{{ page_number}}</a>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                    {% if comments.has_next %}
                                    <a class="next page-numbers" onclick='onclickPagination("{{ next_page_number}}")' style="cursor: pointer;"><i class="arrow_carrot-right"></i></a>
                                    {% endif %}
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-1 col-lg-4">
            </div>
        </div>
    </div>
</section>
<!--================End Forum Body Area =================-->
<!-- Back to top button -->
<a id="back-to-top" title="Back to Top"></a>
{% endblock %}
{% block js %}
<script src="{% static 'js/forum.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>
<script src="{% static 'js/jquery.parallax-scroll.js' %}"></script>
<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<script src="{% static 'assets/magnify-pop/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/theme.js' %}"></script>
{% endblock %}