{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.23/sl-1.3.1/datatables.min.css"/>
    <link rel="stylesheet" href="{% static 'assets/magnify-pop/magnific-popup.css' %}">
    <style>
    .feedback_link {
        padding-top: 0px;
        float: right;
    }
    </style>
{% endblock %}
{% block content %}
    <div class="row" style="margin-top: 60px;">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 doc-middle-content">
            <div class="row">
                <div class="col-lg-10">
                    <h5 class="s_title load-order-2" id="data-table">법규 목록</h5>
                </div>
                <div class="col-lg-2">
                    <div class="feedback_link">
                        <a href="#" class="h_btn">법규 등록</a>
                    </div>
                </div>
            </div>
            <div class="data_table_area table-responsive">
                <table id="dtMaterialDesignExample" class="table">
                    <thead>
                    <tr>
                        <th class="th-sm">No.</th>
                        <th class="th-sm">법규명</th>
                        <th class="th-sm">시행일</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if books %}
                    {% for book in books %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ book.book_title }}</td>
                        <td>{{ book.enfc_dt | date:'Y.m.d' }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3" style="text-align: center">등록된 법규가 없습니다.</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'assets/bootstrap/js/bootstrap-select.min.js' %}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.23/sl-1.3.1/datatables.min.js"></script>
    <script src="{% static 'js/theme.js' %}"></script>
{% endblock %}