{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.23/sl-1.3.1/datatables.min.css"/>
    <link rel="stylesheet" href="{% static 'assets/magnify-pop/magnific-popup.css' %}">
{% endblock %}
{% block content %}
    <div class="row" style="margin-top: 60px;">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 doc-middle-content">
            <h5 class="s_title load-order-2" id="data-table">회원 목록</h5>
            <div class="data_table_area table-responsive">
                <table id="dtMaterialDesignExample" class="table">
                    <thead>
                    <tr>
                        <th class=" th-sm">No.</th>
                        <th class="th-sm">회원구분</th>
                        <th class="th-sm">아이디</th>
                        <th class="th-sm">이메일</th>
                        <th class="th-sm">활동점수</th>
                        <th class="th-sm">최근접속일</th>
                        <th class="th-sm">가입일</th>
                        <th class="th-sm">활성화여부</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if users %}
                    {% for user in users %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        {% if user.is_staff == 1 %}<td>관리자</td>
                        {% else %}<td>일반회원</td>{% endif %}
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.act_point }}</td>
                        <td>{{ user.last_login | date:'Y.m.d H:i:s' }}</td>
                        <td>{{ user.date_joined | date:'Y.m.d H:i:s' }}</td>
                        {% if user.is_active == 1 %}<td>사용중</td>
                        {% else %}<td>휴면</td>{% endif %}
                    </tr>
                    {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3" style="text-align: center">회원 정보가 없습니다.</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'assets/bootstrap/js/bootstrap-select.min.js' %}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.23/sl-1.3.1/datatables.min.js"></script>
    <script src="{% static 'js/theme.js' %}"></script>
{% endblock %}