{% extends 'base.html' %}
{% load static %}
{% load martortags %}
{% block css %}
<link href="{% static 'plugins/css/bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
<link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
<link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
<link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
<style>
    .martor-preview:hover {
        background-color: #F9F9F9;
    }
    .martor-preview:hover > a {
        visibility : visible;
    }
    .bookmark {
        float: right;
        cursor: pointer;
        visibility: hidden;
    }
</style>
{% endblock %}
{% block js %}
<script src="{% static 'assets/font-size/js/rv-jquery-fontsize-2.0.3.min.js' %}"></script>
<script src="{% static 'assets/magnify-pop/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
{% endblock %}

{% block content %}
<!--================Forum Breadcrumb Area =================-->
<div class="breadcrumb_area_three" style="padding: 0"></div>
<!--================End Forum Breadcrumb Area =================-->
<!--================Topic Area =================-->
<section class="doc_documentation_area" id="sticky_doc">
    <div class="container custom_container">
        <div class="row">
            <div class="col-lg-3 doc_mobile_menu display_none">
                <aside class="doc_left_sidebarlist">
                    <div class="open_icon" id="left">
                        <i class="arrow_carrot-right"></i>
                        <i class="arrow_carrot-left"></i>
                    </div>
                    <div class="scroll">
                        {% for book in books %}
                        <ul class="list-unstyled nav-sidebar">
                            <li class="nav-item">
                                <a href="#" class="nav-link" style="display: inline-block">
                                    <img src="{% static 'img/side-nav/document2.png' %}" style="padding-right: 5px;">{{ book.book_title }}</a>
                            </li>
                            {% for page in pages %}
                            {% if page.parent_id == 0 %}
                            <li class="nav-item active">
                                <a onclick='onclickChildList("{{ page.page_id }}")' class="nav-link">{{ page.page_title }}</a>
                                <span class="icon"><i class="arrow_carrot-down"></i></span>
                                <ul class="list-unstyled dropdown_nav" id="parent-list-{{ page.page_id }}" ></ul>
                            </li>
                            {% elif page.depth == 1 %}
                            <script>
                                $("#" + "parent-list-" + "{{ page.parent_id }}").append(
                                    `<li><a id='child-list-{{ page.page_id }}' onclick='onclickChildList(this.id)'>` + "{{ page.page_title }}" + `</a></li>`
                                );
                            </script>
                            {% endif %}
                            {% endfor %}
                        </ul>
                        {% endfor %}
                    </div>
                </aside>
            </div>
            <div class="col-xl-9 doc-middle-content">
                <article id="post" class="documentation_info">
                    <div class="documentation_body" id="documentation">
                      {% for page in pages %}
                        <div class="martor-content">
                            <div class="martor-preview" id="page-{{ page.page_id }}">
                                <a id="bookmark-{{ page.page_id }}" class="bookmark" title="bookmark" onclick='addBookmark("{{ page.page_id }}")'>
                                    <i class="icon_ribbon_alt" style="font-size: larger"></i>
                                    <!--<i class="icon_ribbon" style="font-size: larger"></i>-->
                                </a>
                                {{ page.description|safe_markdown }}
                            </div>
                        </div>
                      {% endfor %}
                        <!--================ Martor =================-->
                        <script type="text/javascript" src="{% static 'plugins/js/jquery.min.js' %}"></script>
                        <script type="text/javascript" src="{% static 'plugins/js/bootstrap.min.js' %}"></script>
                        <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
                        <script>
                            $('.martor-preview pre').each(function (i, block) {
                                hljs.highlightBlock(block);
                            });
                        </script>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!--================End Topic Area =================-->

<!-- Back to top button -->
<a id="back-to-top" title="Back to Top"></a>
{% endblock %}
