{% extends 'base.html' %}
{% load static %}
{% load martortags %}
{% block css %}
<link href="{% static 'plugins/css/bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
<link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
<link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
<link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
{% endblock %}

<!--================ Bootstrap =================-->
{% block js %}
<script src="{% static 'assets/font-size/js/rv-jquery-fontsize-2.0.3.min.js' %}"></script>
<script src="{% static 'assets/magnify-pop/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
{% endblock %}

{% block content %}
<!--================Forum Breadcrumb Area =================-->
<div class="breadcrumb_area_three" style="padding: 0"></div>
<!--================End Forum Breadcrumb Area =================-->
<!--================Topic Area =================-->
<section class="doc_documentation_area" id="sticky_doc">
    <div class="container custom_container">
        <div class="row">
            <div class="col-lg-3 doc_mobile_menu display_none">
                <aside class="doc_left_sidebarlist">
                    <div class="open_icon" id="left">
                        <i class="arrow_carrot-right"></i>
                        <i class="arrow_carrot-left"></i>
                    </div>
                    <div>
                        <ul class="list-unstyled nav-sidebar">
                            {% for book in books %}
                            <li class="nav-item active">
                                <a href="#" class="nav-link active" style="display: inline-block"><img src="{% static 'img/side-nav/document.png' %}" alt="">{{ book.book_title }}</a>
                            </li>
                            {% for page in pages %}
                            {% if page.parent_id == 0 %}
                            <li class="nav-item">
                                <a href="#" class="nav-link" style="display: inline-block"><img src="{% static 'img/side-nav/document2.png' %}" alt="briefcase">{{ page.page_title }}</a>
                                <span class="icon"><i class="arrow_carrot"></i></span>
                                <ul class="list-unstyled dropdown_nav">
                                    <li><a href="doc-element-tab.html">Tabs</a></li>
                                    <li><a href="doc-element-accordion.html">Accordion</a></li>
                                    <li><a href="doc-element-notice.html">Notices</a></li>
                                    <li><a href="doc-content-tables.html">Table</a></li>
                                    <li><a href="doc-element-lightbox.html">Image Lightbox</a></li>
                                    <li><a href="doc-element-hotspots.html">Image Hotspots</a></li>
                                    <li><a href="doc-element-code.html">Source Code</a></li>
                                    <li><a href="doc-content-tooltip.html">Tooltip</a></li>
                                </ul>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                        {% endfor %}
                    </div>
                </aside>
            </div>
            <div class="col-lg-9">
                <article id="post" class="documentation_info">
                    <div class="documentation_body" id="documentation">
                      {% for page in pages %}
                        <div class="martor-content">
                            <!--<h3>Title: {{ p.page_title }}</h3>
                            <p><b>Description:</b></p>
                            <hr/>-->
                            <div class="martor-preview">
                                {{ page.description|safe_markdown }}
                            </div>
                        </div>
                      {% endfor %}
                        <!--================ Martor =================-->
                        <script type="text/javascript" src="{% static 'plugins/js/jquery.min.js' %}"></script>
                        <script type="text/javascript" src="{% static 'plugins/js/bootstrap.min.js' %}"></script>
                        <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
                        <script>
                            $('.martor-preview pre').each(function (i, block) {
                                hljs.highlightBlock(block);
                            });
                        </script>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!--================End Topic Area =================-->

<!-- Back to top button -->
<a id="back-to-top" title="Back to Top"></a>
{% endblock %}
