{% extends 'common/base.html' %}
{% load static %}
{% load markup_tags %}
{% block css %}
<link href="{% static 'plugins/css/bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
<link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
<link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
<link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
<style>
    .user-menu {
        color: #0d0d75 !important;
    }
    .comment_inner, .blog_comment_box {
        padding: 16px;
    }
    .martor-preview:hover {
        background-color: #F9F9F9;
    }
    .martor-preview:hover > a {
        visibility : visible;
    }
    .bookmark {
        float: right;
        cursor: pointer;
        visibility: hidden;
    }
    .bookmark_info {
        color: #a7a9ac;
        float: right;
    }
    .comment {
        float: right;
        cursor: pointer;
        visibility: hidden;
        margin-left: 10px;
    }
    #radio-group {
        vertical-align : middle;
        justify-content: flex-end;
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-bottom: 0px;
        font-family: 'NanumSquare', san-serif;
    }
    #radio-group > input, button {
        margin: auto 10px;
    }
    .comment_tag {
        color: #0C0E72 !important;
        cursor: pointer;
        float: right;
    }
    .delete {
        color: #C0392B !important;
    }
    .comment_inner {
        padding-top: 0px;
    }
    .comment_author {
        padding-top: 10px !important;
    }
    .media-body{
        padding-bottom: 10px !important;
    }
    .comment_reply {
        cursor: pointer;
    }
    #book_title {
        margin: 10px 0px;
        cursor: pointer;
    }
    #book_title > a {
        color: #474747;
    }
    #book_title > span > i {
        color: #474747;
    }
    .row {
        justify-content: center;
    }
    .all-answers {
        padding: 0px;
        margin: 0 0 30px 0;
        line-height: 28px;
        font-size: 16px;
        height: 100%;
        font-family: 'NanumSquare',san-serif;
        font-weight: 400;
        color: #6b707f;
        letter-spacing: 0.15px;
    }
    #header-btn > a {
        font-size: 15px;
        font-weight: bolder;
        margin-left: 20px;
    }
    h5 {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        font-weight: 700;
        font-family: 'NanumSquare',san-serif;
        color: #1d2746;
        font-size: 1.25rem;
    }
    .nice-select .list {
        overflow-x: scroll;
    }
    .all-answers .filter-bar .nice-select .list {
        width: 180px;
    }
    .custom-select {
        font-size: 14px;
    }
    .modal-content {
        padding: 25px;
    }
    #bookmarkNewLabel {
        color: #0d0d75;
        background: #FFFFFF;
        padding: 10px 28px;
        border-color: #0d0d75;
    }
    .button_inner_one {
        display: flex;
        justify-content: center;
    }
    .contact_form .form-group {
        margin-bottom: 10px;
    }
    .topic_list_item {
        margin-bottom: 10px;
    }
    .editMode {
        margin-left: 5px;
        font-size: 13px !important;
        cursor: pointer;
    }
</style>
{% endblock %}

{% block content %}
<!-- 댓글 랜더링을 위해 script 먼저 로딩 -->
<script src="{% static 'js/docs.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>

<!-- 페이지 로딩 시 초기 셋팅 영역 -->
<script>
    // 로그인 시 사용자 ID를 저장하는 전역변수 선언
    let USERNAME = "";
    // page_id 전역변수 선언
    let PAGEID = "";
</script>
{% if page_id %}
<script>PAGEID = "{{ page_id }}";</script>
{% endif %}
{% if user.is_authenticated %}
<script>USERNAME = "{{ user.get_username }}";</script>
{% endif %}

<div class="breadcrumb_area_three" style="padding: 0"></div>
<section class="doc_documentation_area" id="sticky_doc">
    <div class="container custom_container">
        <div class="all-answers col-md-12">
            <h5>{{ request.user.first_name }}님의 북마크</h5><hr>
            <div class="filter-bar d-flex" style="align-items: center;">
                <div class="sort">
                    <select class="custom-select" id="sortBy" onchange="onchangeSort(this.value)">
                        {% for bookmark in bookmark_label %}
                        <option value="{{ bookmark.label_id }}">{{ bookmark.label_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="header-btn">
                    <a href="javascript:;" style="color: #535550;" onclick="onclickFolderManage()">
                        <i class="icon_cog"></i>&nbsp;&nbsp;폴더관리</a>
                    <a href="javascript:;" style="color: #0d0d75" onclick="onclickPrintBookMark()">
                        <i class="icon_printer"></i>&nbsp;&nbsp;출력</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 doc-middle-content" style="padding-top: 0px;">
                <article id="post" class="documentation_info">
                    <div class="documentation_body" id="documentation">
                        {% if bookmarks %}
                        {% for bookmark in bookmarks %}
                        {% if bookmark.book_title %}
                            <h5 id="book_title">
                                <span onclick='toggleBookmark("{{ bookmark.book_id }}")' class="icon">
                                    <i id="icon-{{ bookmark.book_id }}" class="arrow_carrot-down"></i>
                                </span>
                                <a href="/book/{{ bookmark.book_id }}">{{ bookmark.book_title }}</a>
                            </h5>
                        {% endif %}
                            <div id="book-{{ bookmark.book_id }}-{{ bookmark.page_id }}" class="martor-content" style="margin-bottom: 10px;">
                                <div class="martor-preview" id="page-{{ bookmark.page_id }}">
                                    <a id="bookmark-{{ bookmark.page_id }}" class="bookmark" title="북마크 삭제"
                                       onclick='removeBookmark("{{ bookmark.page_id }}")'>
                                        <i class="icon_ribbon" style="font-size: larger"></i>
                                    </a>
                                    <div id="description-{{ bookmark.page_id }}">{% csrf_token %}
                                        {{ bookmark.description | apply_markup:"markdown" }}
                                        <p class="bookmark_info">
                                        Bookmarked by {{ bookmark.username }} | {{ bookmark.reg_dt | date:'Y.m.d a f' }}
                                    </p>
                                    </div>
                                    {% if bookmark.comment %}
                                        <script>
                                            viewCommentList({{ bookmark.comment | safe }}, {{ bookmark.page_id }}, "select");
                                        </script>
                                    {% endif %}
                                </div>
                                <div id="commentbox-{{ bookmark.page_id }}" class="blog_comment_box topic_comment" style="padding-top: 0px;">
                                    <form id="form-parent-{{ bookmark.page_id }}"  class="get_quote_form row">
                                        <div class="col-md-12 form-group">
                                            <textarea id="textarea-parent-{{ bookmark.page_id }}" name="content"
                                                      class="form-control message" required></textarea>
                                            <input type="hidden" name="rls_yn" value="N">
                                            <label class="floating-label">Comment</label>
                                        </div>
                                        <div class="col-md-12 form-group" id="radio-group">
                                            <button class="action_btn btn_small" type="button"
                                                    onclick="onclickBookmarkComment('parent-{{ bookmark.page_id }}')" style="color: #fff;">저장</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                        {% else %}
                        <p style="margin: auto; padding: 20px 0; color: rgba(0, 0, 0, 0.4); text-align: center;">등록된 북마크가 없습니다.</p>
                        {% endif %}
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<!-- 프로젝트 선택 모달 -->
<div class="modal fade" id="selectProjectModal" tabindex="-3" role="dialog" aria-hidden="false">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class=" icon_close"></i>
    </button>
    <div class="modal-dialog help_form" role="document">
        <div class="modal-content">
            <div class="shortcode_title">
                <h5><i class="icon_cog"></i>&nbsp;북마크 폴더 관리</h5>
            </div>
            <form id="bookmarkForm" class="contact_form">{% csrf_token %}
                <div class="row">
                    <div class="form-group col-lg-12">
                        {% if bookmark_label %}
                        <div class="topic_list_item">
                            <ul id="labelList" class="navbar-nav">
                                {% for label in bookmark_label %}
                                    {% if label.label_id != "0" %}
                                    <!-- 북마크 레이블 리스트 모드 -->
                                    <li id="label-{{ label.label_id }}-view">
                                        <i class="icon_folder-alt"></i>
                                        <a id="label-{{ label.label_id }}" href="javascript:;"
                                           onclick="onclickEditMode({{ label.label_id }})">{{ label.label_name }}</a>
                                    </li>
                                    <!-- 북마크 레이블 편집 모드 -->
                                    <li id="label-{{ label.label_id }}-edit" style="display: none;">
                                        <i class="icon_folder-alt"></i>
                                        <input id='label-{{ label.label_id }}-input' name="label_name" value='{{ label.label_name }}'
                                               type='text' onfocusout='onclickViewMode({{ label.label_id }})'>
                                        <a class="editMode" style='color: #0C0E72;'
                                           onclick="updateBookmarkLabel({{ label.label_id }})">수정</a>
                                        <a class="editMode" style='color: #C0392B;'
                                           onclick="deleteBookmarkLabel({{ label.label_id }})">삭제</a>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                                <!-- 북마크 새폴더 추가 -->
                                <li id='new_label' style="display: none;">
                                    <i class='icon_folder-alt'></i>&nbsp;
                                    <input id="new_label_input" name="" type='text' onfocusout="onclickNewLabelViewMode()">
                                    <a class="editMode" style='color: #0C0E72;' onclick="addBookmarkLabel()">저장</a>
                                </li>
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </form>{% csrf_token %}
            <div class="button_inner_one">
                <button id="bookmarkNewLabel" class="btn doc_border_btn btn_small"
                onclick="onclickAddLabel()">새폴더</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'assets/font-size/js/rv-jquery-fontsize-2.0.3.min.js' %}"></script>
<script src="{% static 'assets/magnify-pop/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script>
    // 북마크 댓글은 비공개이므로 초기 로딩시 좋아요 제거
    $('a').remove('.count');

    // 댓글 추가 및 수정 이벤트 발생을 감지해 좋아요 제거
    let target = document.querySelector(".comment_inner");
    let option = {childList: true, subtree: true};
    let observer = new MutationObserver((mutations) => {
        $('a').remove('.count');
    })
    observer.observe(target, option);

    // modal close 시 페이지 reload
    $("#selectProjectModal").on('hide.bs.modal', function(e) {
        window.location.href = "/bookmark";
    });

    const printBlockElem = ['#header-btn', '.blog_comment_box', '.comment_inner', '.forum_footer_area'];

    // 프린트 영역 필터링
    window.onbeforeprint = function () {
        $.each(printBlockElem, function(index, item) {
           $(item).css('display', 'none');
        });
    };

    // 프린트 실행 이벤트
    function onclickPrintBookMark() {
        window.print();
    }

    // 프린트 영역을 초기 body로 복구
    window.onafterprint = function () {
        $.each(printBlockElem, function(index, item) {
           $(item).css('display', 'block');
        });
    };
</script>
{% endblock %}
