{% extends 'common/base.html' %}
{% load static %}
{% load martortags %}
{% block css %}
<link href="{% static 'plugins/css/bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />
<link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
<link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
<link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<style>
    .doc_left_sidebarlist {
        padding-top: 0px !important;
        position: fixed;
        width: 250px;
        overflow: auto !important;
        overscroll-behavior: contain;
        scroll-behavior: smooth;
    }P

    .doc-middle-content {
        padding-top: 0px;
    }
    .user-menu {
        color: #0d0d75 !important;
    }
    span {
        font-size: larger;
        transform: none !important;
    }
    .form-group span {
        font-size: smaller;
    }
    .editor-tab-description {
        color: #0d0d75 !important;
    }
    .btn-success {
        float: right;
        padding: 6px 24px;
        background-color: #0d0d75;
        border-color: #0d0d75;
    }
    .btn-success:hover {
        background-color: #0d0d75;
        border-color: #0d0d75;
    }
    #form-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 35px;
    }
    #nav-editor-tab-description {
        color: #696969 !important;
    }

    #nav-preview-tab-description {
        color: #696969 !important;
    }
    .action_btn {
        font-size: 15px;
        margin-left: 15px;
    }
    .doc_border_btn {
        font-size: 15px;
        border: 1px solid #0C0E72;
    }
    .button_inner_one {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
    }
    .nav-sidebar {
        padding-bottom: 70px;
    }
    .signup_inner {
        padding-top: 0px;
        padding-bottom: 160px;
    }
    #book_info {
        display: flex;
        justify-content: space-between;
        color: #5a6268;
        padding: 0px;
    }
    .markdown-toggle-maximize {
        display: none;
    }
    .markdown-help {
        display: none;
    }
    .markdown-image-upload {
        display: none;
    }
    /**
    .ace_editor {
        letter-spacing: -4.5px;
        word-spacing: -2px;
        font-size: 18px;
        line-break : loose;
        word-break: break-all;
    }*/
</style>
{% endblock %}

{% block content %}
    <div class="breadcrumb_area_three" style="padding: 0"></div>
    <section>
        <div class="container custom_container">
            <div class="row">
                <!-- 사이드 네비게이션 영역 -->
                <div class="col-lg-3 doc_mobile_menu display_none" style="z-index: 0;">
                    <aside class="doc_left_sidebarlist">
                        <ul class="list-unstyled nav-sidebar">
                            <li class="nav-item">
                                <a class="nav-link" style="color: #3c4257 !important; margin-right: 40px;"
                                    href="/wiki/{{ book.book_id }}">
                                    <i class="icon_document_alt"></i>&nbsp;{{ book.book_title }}</a>
                                <span class="icon" data-icon="&#x59;" style="color: #3c4257 !important;"
                                onclick="onclickAddPage('{{ book.book_id }}')" title="페이지 추가"></span>
                            </li>
                            {% for page in page_list %}
                            {% if page.parent_id == 0 %}
                                <li class="nav-item active">
                                    <a class="nav-link" style="margin-right: 40px; color: #0d0d75 !important;"
                                    href="/wiki/page/{{ page.page_id }}">{{ page.page_title }}</a>
                                    <span class="icon" data-icon="&#x59;" style="color: #0d0d75 !important;"
                                    onclick="onclickAddPage('{{ book.book_id }}', '{{ page.page_id }}')" title="페이지 추가"></span>
                                    <ul class="list-unstyled dropdown_nav" id="parent-list-{{ page.page_id }}"></ul>
                                </li>
                            {% elif page.depth == 1 %}
                            <script>
                                $("#" + "parent-list-" + "{{ page.parent_id }}").append(
                                    `<li><a id='child-list-{{ page.page_id }}' href="/wiki/page/{{ page.page_id }}">`
                                    + "{{ page.page_title }}" + `</a></li>`
                                );
                            </script>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </aside>
                </div>
                <!-- 에디터 & 뷰어 영역 -->
                <div class="col-xl-9 doc-middle-content" style="z-index: 1;">
                    <article id="post" class="documentation_info">
                        <div class="documentation_body" id="documentation">
                            {% if page_form %}
                            <!-- 마크다운 편집 모드 -->
                            <h5 style="margin-bottom: 20px;">본문 작성하기</h5>
                            <form class="form" id="page_form" name="page_form">{% csrf_token %}
                                <input name="book_id" style="display: none;" value="{{ book.book_id }}">
                                <div class="form-group">
                                  {{ page_form.page_title }}
                                </div>
                                <textarea id="MyID"></textarea>
                                <div id="form-bottom">
                                    <p style="margin-bottom: 0px">
                                        <a href="https://ko.wikipedia.org/wiki/마크다운" target="_blank" style="color : #0d0d75";>마크다운 작성법</a>
                                    </p>
                                    <button type="button" class="btn btn-success" onclick="onclickSavePage('{{ page_id }}')">저장</button>
                                </div>
                            </form>
                            {% elif page %}
                            <!-- 마크다운 미리보기 모드 -->
                            <div class="martor-content">
                                 <div class="martor-preview" id="page-{{ page.page_id }}">
                                     <h3>{{ page.page_title }}</h3><hr/>
                                     <div id="description-{{ page.page_id }}">{{ page.description | safe_markdown }}</div>
                                  </div>
                            </div>
                            <div class="button_inner_one">
                                <a href="javascript:;" onclick="onclickDeletePage({{ page.page_id }})" class="doc_border_btn btn_small">삭제</a>
                                <a href="/wiki/edit/page/{{ page.page_id }}" class="action_btn btn_small">수정</a>
                            </div>
                            {% else %}
                            <!-- 위키 정보 모드 -->
                            <div class="sign_inner signup_inner">
                                <h5 style="font-weight: 700">위키 정보</h5><hr>
                                <div id="book_info" class="col-sm-12">
                                    <p style="font-size: 13px;">
                                        {{ book.wrt_dt | date:'Y.m.d'}} 작성
                                        {% if book.wrt_dt != book.mdfcn_dt %}
                                        &nbsp;&#183;&nbsp; {{ book.mdfcn_dt | date:'Y.m.d H:i'}} 편집됨
                                        {% endif %}
                                    </p>
                                    <p>
                                        {% if book.is_liked == "true" %}
                                            <ion-icon name="heart"></ion-icon>&nbsp;{{ book.like_user_count }}&nbsp;
                                        {% else %}
                                            <ion-icon name="heart-outline"></ion-icon>&nbsp;{{ book.like_user_count }}&nbsp;
                                        {% endif %}
                                        <ion-icon name="eye-outline"></ion-icon> {{ book.hit_count }}&nbsp;
                                        <ion-icon name="chatbubbles-outline"></ion-icon> {{ book.comment_count }}
                                    </p>
                                </div>
                                <form id="wiki" name="wiki" class="row login_form" style=" padding: 20px 0;">{% csrf_token %}
                                    <div class="col-sm-12 form-group">
                                        <div class="small_text">위키 제목</div>
                                        <input type="text" id="book_title" name="book_title" class="form-control" value="{{ book.book_title }}">
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <div class="small_text">공개 여부</div>
                                        <select id="rls_yn" name="rls_yn" class="form-control">
                                            <option value="Y">공개</option>
                                            <option value="N">비공개</option>
                                        </select>
                                    </div>
                                    <script>$("#rls_yn").val({{ book.rls_yn }})</script>
                                    <div class="col-sm-6 form-group">
                                        <div class="small_text">카테고리</div>
                                        <select id="wiki_gubun" name="wiki_gubun" class="form-control">
                                            <option value="0">전체</option>
                                            <option value="1">설계</option>
                                            <option value="2">재료</option>
                                            <option value="3">시공</option>
                                            <option value="4">설비</option>
                                            <option value="5">환경</option>
                                            <option value="6">도시</option>
                                        </select>
                                    </div>
                                    <script>$("#wiki_gubun").val({{ book.wiki_gubun }})</script>
                                    <div class="col-lg-12 button_inner_one">
                                        <a href="javascript:;" class="doc_border_btn btn_small" onclick="onclickDeleteWiki('{{ book.book_id }}')">삭제</a>
                                        <a href="javascript:;" class="action_btn btn_small" onclick="onclickUpdateWiki('{{ book.book_id }}')">저장</a>
                                    </div>
                                </form>
                            </div>
                            {% endif %}
                            <!--================ Martor =================-->
                            <script type="text/javascript" src="{% static 'plugins/js/jquery.min.js' %}"></script>
                            <script type="text/javascript" src="{% static 'plugins/js/ace.js' %}"></script>
                            <script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}"></script>
                            <script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
                            <script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}"></script>
                            <script type="text/javascript" src="{% static 'plugins/js/typo.js' %}"></script>
                            <script type="text/javascript" src="{% static 'plugins/js/spellcheck.js' %}"></script>
                            <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
                            <script type="text/javascript" src="{% static 'plugins/js/resizable.min.js' %}"></script>
                            <script type="text/javascript" src="{% static 'plugins/js/emojis.min.js' %}"></script>
                            <script type="text/javascript" src="{% static 'martor/js/martor.bootstrap.min.js' %}"></script>
                            <script>
                                $('form [name="page_title"]').attr({
                                  'class': 'form-control',
                                  'placeholder': '페이지 제목'
                                });
                            </script>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <!-- Back to top button -->
    <a id="back-to-top" title="Back to Top"></a>
{% endblock %}

{% block js %}
    <script src="{% static 'js/docs.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'assets/font-size/js/rv-jquery-fontsize-2.0.3.min.js' %}"></script>
    <script src="{% static 'assets/magnify-pop/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script>
      // 페이지 추가 아이콘 이벤트 제거
      $(".nav-sidebar > li .icon").unbind();

      // viewer.html, editor.html footer 숨김
      $(".forum_footer_area").hide();

      // 마크다운 에디터 속성 변경
      $("#nav-editor-tab-description").children('span').text("글쓰기");
      $("#nav-preview-tab-description").children('span').text("미리보기");
    </script>
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>
        var simplemde = new SimpleMDE({ element: document.getElementById("MyID") });
    </script>
{% endblock %}
