{% extends 'common/base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'plugins/css/bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />
<link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
<link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
<link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
<style>
    .doc_left_sidebarlist {
        padding-top: 0px !important;
        position: fixed;
        width: 250px;
        overflow: auto !important;
        overscroll-behavior: contain;
        scroll-behavior: smooth;
    }

    .doc-middle-content {
        padding-top: 0px;
    }
    .user-menu {
        color: #0d0d75 !important;
    }
    span {
        font-size: larger;
        transform: none !important;
    }
    .form-group span {
        font-size: smaller;
    }
</style>
{% endblock %}

{% block content %}
    <section class="doc_documentation_area" id="sticky_doc">
        <div class="container custom_container">
            <div class="row">
                <div class="col-lg-3 doc_mobile_menu display_none" style="z-index: 0;">
                    <aside class="doc_left_sidebarlist">
                        <ul class="list-unstyled nav-sidebar">
                            <li class="nav-item">
                                <a class="nav-link" style="color: #3c4257 !important;">
                                    <i class="icon_document_alt"></i>&nbsp;{{ book.book_title }}</a>
                                <span class="icon" data-icon="&#x59;" style="color: #3c4257 !important;"></span>
                            </li>
                            {% if pages is None %}
                            <li class="nav-item">
                                <a class="nav-link" style="color: #0d0d75 !important;">페이지 제목</a>
                                <span class="icon" data-icon="&#x59;" style="color: #0d0d75 !important;"></span>
                            </li>
                            {% else %}
                            {% for page in pages %}
                            {% if page.parent_id == 0 %}
                                <li class="nav-item active">
                                    <a onclick='onclickChildList("{{ page.page_id }}")' class="nav-link">{{ page.page_title }}</a>
                                    <ul class="list-unstyled dropdown_nav" id="parent-list-{{ page.page_id }}" ></ul>
                                </li>
                                {% elif page.depth == 1 %}
                                <script>
                                    $("#" + "parent-list-" + "{{ page.parent_id }}").append(
                                        `<li><a id='child-list-{{ page.page_id }}' onclick='onclickChildList(this.id)'>` + "{{ page.page_title }}" + `</a></li>`
                                    );
                                </script>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </aside>
                </div>
                <div class="col-xl-9 doc-middle-content" style="z-index: 1;">
                    <article id="post" class="documentation_info">
                        <div class="documentation_body" id="documentation">
                            <div class="shortcode_title">
                                <h4>본문 작성하기</h4>
                            </div>
                            <form class="form" id="page_form" name="page_form">{% csrf_token %}
                                <input name="book_id" style="display: none" value="{{ book.book_id }}">
                                <input name="parent_id" style="display: none" value="{{ page.parent_id }}">
                                <div class="form-group">
                                  {{ page.page_title }}
                                </div>
                                <div name="description" class="form-group">
                                  {{ page.description }}
                                </div>
                                <div>
                                    <button type="button" class="btn btn-success" onclick="onclickSavePage('{{ book.book_id }}')"
                                            style="float: right; padding: 6px 24px;">저장</button>
                                </div>
                            </form>
                            <div class="shortcode_title" style="font-size: smaller;">
                                <p><span>마크다운 소개</span><a href="https://en.wikipedia.org/wiki/Markdown" target="_blank"> 바로가기</a></p>
                            </div>
                            <!--================ Martor =================-->
                            <script type="text/javascript" src="{% static 'plugins/js/jquery.min.js' %}"></script>
                            <script type="text/javascript" src="{% static 'plugins/js/bootstrap.min.js' %}"></script>
                            <script type="text/javascript" src="{% static 'plugins/js/ace.js' %}"></script>
                            <script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}"></script>
                            <script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
                            <script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}"></script>
                            <script type="text/javascript" src="{% static 'plugins/js/typo.js' %}"></script>
                            <script type="text/javascript" src="{% static 'plugins/js/spellcheck.js' %}"></script>
                            <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
                            <script type="text/javascript" src="{% static 'plugins/js/resizable.min.js' %}"></script>
                            <script type="text/javascript" src="{% static 'plugins/js/emojis.min.js' %}"></script>
                            <script type="text/javascript" src="{% static 'martor/js/martor.bootstrap.min.js' %}"></script>
                            <script>
                                $('form [name="page_title"]').attr({
                                  'class': 'form-control',
                                  'placeholder': '페이지 제목'
                                });
                            </script>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <!-- Back to top button -->
    <a id="back-to-top" title="Back to Top"></a>
{% endblock %}

{% block js %}
    <script src="{% static 'js/docs.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'assets/font-size/js/rv-jquery-fontsize-2.0.3.min.js' %}"></script>
    <script src="{% static 'assets/magnify-pop/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
{% endblock %}
