{% extends 'common/base.html' %}
{% load socialaccount %}
{% load static %}
{% block css %}
    <style>
        .all-answers {
            padding-left: 0px;
            margin-top: 0px;
        }
        h5 {
            display: flex;
            align-items: center;
            margin-bottom: 0px;
        }
        .post_author {
            align-items: center;
        }
    </style>
{% endblock %}
{% block content %}
<section class="doc_tag_area bg_color sec_pad">
    <div class="container">
        <div class="all-answers col-md-12">
            <div class="filter-bar d-flex">
                <h5>건축법규</h5>
                <div class="sort">
                    <select class="custom-select" id="sortBy" onchange="onchangeSort(this.value)">
                        {% for sort in sort_list %}
                        <option value="{{ sort.value }}">{{ sort.label }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div id="docs" class="row blog_grid_tab">
            {% if books %}
            {% for book in books %}
            <div class="col-lg-4 col-sm-6">
                <div class="blog_grid_post shadow-sm wow fadeInUp">
                    <div onclick="location.href='/book/{{ book.book_id }}'" class="grid_post_content">
                        <div class="post_tag">
                            <a>법규</a>
                            <a class="c_blue">{{ book.get_code_gubun_display }}</a>
                        </div>
                        <a>
                            <h4 class="b_title">{{ book.book_title }}</h4>
                        </a>
                        <div class="media post_author">
                            <div class="round_img">
                                {% if book.pictrue %}
                                <img src="{{ book.pictrue }}" alt="">
                                {% else %}
                                <img src="{% static 'img/blog-grid/author_1.jpg' %}" alt="">
                                {% endif %}
                            </div>
                            <div class="media-body author_text">
                                <div class="date">시행&nbsp;&nbsp;{{ book.enfc_dt | date:'Y.m.d' }}</div>
                            </div>
                            <p style="margin-bottom: 0px;"><ion-icon name="eye-outline"></ion-icon> {{ book.hit_count }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p style="margin: auto; padding: 20px 0; color: rgba(0, 0, 0, 0.4);">검색 결과가 없습니다.</p>
            {% endif %}
        </div>
        <div class="col-lg-12 col-sm-2" style="text-align: center">
            <nav class="navigation pagination" style="display: inline;">
                <div class="nav-links" style="padding-top: 50px;">
                    {% if books.has_previous %}
                    <a class="next page-numbers" onclick='onclickPagination("{{ previous_page_number}}")' style="cursor: pointer;"><i class="arrow_carrot-left"></i></a>
                    {% endif %}

                    {% for page_number in books.paginator.page_range %}
                    {% if page_number >= books.number|add:-5 and page_number <= books.number|add:5 %}
                    {% if page_number == books.number %}
                    <a class="page-numbers current" onclick='onclickPagination("{{ page_number}}")' style="cursor: pointer;">{{ page_number}}</a>
                    {% else %}
                    <a class="page-numbers" onclick='onclickPagination("{{ page_number}}")' style="cursor: pointer;">{{ page_number}}</a>
                    {% endif %}
                    {% endif %}
                    {% endfor %}

                    {% if books.has_next %}
                    <a class="next page-numbers" onclick='onclickPagination("{{ next_page_number}}")' style="cursor: pointer;"><i class="arrow_carrot-right"></i></a>
                    {% endif %}
                </div>
            </nav>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script src="{% static 'js/common.js' %}"></script>
{% endblock %}