{% extends 'common/base.html' %}
{% load static %}
{% load martortags %}
{% block css %}
<link href="{% static 'plugins/css/bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
<link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
<link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
<link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
<style>
    .martor-preview:hover {
        background-color: #F9F9F9;
    }
    .martor-preview:hover > a {
        visibility : visible;
    }
    .bookmark {
        float: right;
        cursor: pointer;
        visibility: hidden;
    }
    .comment {
        float: right;
        cursor: pointer;
        visibility: hidden;
        margin-left: 10px;
    }
    #radio-group {
        vertical-align : middle;
        justify-content: flex-end;
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-bottom: 0px;
        font-family: 'NanumSquare', san-serif;
    }
    #radio-group > input, button {
        margin: auto 10px;
    }
    .comment_tag {
        color: #0C0E72 !important;
        cursor: pointer;
        float: right;
    }
    .comment_inner {
        padding-top: 0px;
    }
    .comment_inner > ul, li {
        list-style: none !important;
    }
    .comment_author {
        padding-top: 10px !important;
    }
    .media-body{
        padding-bottom: 10px !important;
    }
    .comment_reply {
        cursor: pointer;
    }
    .count {
        cursor: pointer;
        float: right;
    }

    .doc_left_sidebarlist {
        padding-top: 0px !important;
        position: fixed;
        width: 250px;
        overflow: auto !important;
        overscroll-behavior: contain;
        scroll-behavior: smooth;

    }
    .doc-middle-content {
        padding-top: 0px;
    }
    .book_title {
        font-weight: bolder;
        padding: 16px;
        background-color: #fdfdfd;
        margin-bottom: 0px !important;
    }
    .user-menu {
        color: #0d0d75 !important;
    }
</style>
{% endblock %}

{% block content %}
<script>
    // 로그인 시 사용자 ID를 저장하는 전역변수 선언
    let USERNAME = "";

    // page_id 전역변수 선언
    let PAGEID = "";

    // Page View인 경우 해당 Page 댓글창 펼침, scroll 이동
    $( document ).ready(function() {
        if (PAGEID != "") {
            onclickComment(1, PAGEID);
            onclickChildList(PAGEID, 'auto');
        }
    });
</script>

{% if page_id %}
<script>PAGEID = "{{ page_id }}"; </script>
{% endif %}

{% if user.is_authenticated %}
<script>USERNAME = "{{ user.get_username }}";</script>
{% endif %}


<!--================Forum Breadcrumb Area =====================-->
<div class="breadcrumb_area_three" style="padding: 0"></div>
<!--================End Forum Breadcrumb Area =================-->
<!--================Topic Area =================================-->
<section>
    <div class="container custom_container">
        <div class="row">
            <div class="col-lg-3 doc_mobile_menu display_none" style="z-index: 0;">
                <aside class="doc_left_sidebarlist">
                    <div class="open_icon" id="left">
                        <i class="arrow_carrot-right"></i>
                        <i class="arrow_carrot-left"></i>
                    </div>
                    <ul class="list-unstyled nav-sidebar">
                        {% for page in pages %}
                        {% if page.parent_id == 0 %}
                        <li class="nav-item active">
                            <a onclick='onclickChildList("{{ page.page_id }}")' class="nav-link">{{ page.page_title }}</a>
                            <span class="icon"><i class="arrow_carrot-down"></i></span>
                            <ul class="list-unstyled dropdown_nav" id="parent-list-{{ page.page_id }}" ></ul>
                        </li>
                        {% elif page.depth == 1 %}
                        <script>
                            $("#" + "parent-list-" + "{{ page.parent_id }}").append(
                                `<li><a id='child-list-{{ page.page_id }}' onclick='onclickChildList(this.id)'>` + "{{ page.page_title }}" + `</a></li>`
                            );
                        </script>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </aside>
            </div>
            <div class="col-xl-9 doc-middle-content" style="z-index: 1;">{% csrf_token %}
                <article id="post" class="documentation_info">
                    <div class="documentation_body" id="documentation">
                        <h4 class="book_title">{{ book.book_title }}</h4>
                        {% for page in pages %}
                        <div class="martor-content">
                            <div class="martor-preview" id="page-{{ page.page_id }}">
                                {% if page.depth == 1 %}
                                    <!----------------------- Comment Icon ----------------------->
                                    <a id="comment-{{ page.page_id }}" class="comment" title="댓글 작성"
                                       onclick='onclickComment("{{ page.comment_count }}", "{{ page.page_id }}")'>
                                        <ion-icon style="font-size: large" name="chatbubbles-outline"></ion-icon>
                                        {{ page.comment_count }}
                                    </a>
                                    {% if page.comment_count < 1 %}
                                        <script>
                                            $("#comment-" + "{{ page.page_id }}").prop("visibility", "hidden");
                                        </script>
                                    {% endif %}
                                    <!----------------------- End Comment Icon -------------------->
                                    <!----------------------- Bookmark Icon ----------------------->
                                    <a id="bookmark-{{ page.page_id }}" class="bookmark" title="북마크 추가"
                                       onclick='addOrRemoveBookmark("{{ page.page_id }}")'>
                                        {% if page.is_bookmarked == 1 %}
                                            <i class="icon_ribbon" style="font-size: larger"></i>
                                            <script>
                                                $("#bookmark-" + "{{ page.page_id }}").prop("title", "북마크 삭제");
                                            </script>
                                        {% else %}
                                            <i class="icon_ribbon_alt" style="font-size: larger"></i>
                                        {% endif %}
                                    </a>
                                    <!----------------------- End Bookmark Icon -------------------->
                                {% endif %}
                                <div id="description-{{ page.page_id }}">
                                {{ page.description|safe_markdown }}
                                </div> {% csrf_token %}
                                <!----------------------- Comment Area ----------------------------->

                                <!----------------------- End Comment Area ------------------------->
                            </div>
                        </div>
                        {% endfor %}
                        <!--================ Martor JS =================-->
                        <script type="text/javascript" src="{% static 'plugins/js/jquery.min.js' %}"></script>
                        <script type="text/javascript" src="{% static 'plugins/js/bootstrap.min.js' %}"></script>
                        <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
                        <script>
                            // 마크다운 뷰어 함수
                            $('.martor-preview pre').each(function (i, block) {
                                hljs.highlightBlock(block);
                            });

                            // 1개의 장으로 구성되어 있는 경우 제목 보여주지 않음
                            const law_count = "{{ law_count }}";
                            if (law_count < 2) {
                                $("#documentation").children().first().remove();
                            }
                        </script>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!--================End Topic Area =================-->

<!-- Back to top button -->
<a id="back-to-top" title="Back to Top"></a>
{% endblock %}

{% block js %}
<script src="{% static 'js/docs.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>
<script src="{% static 'assets/font-size/js/rv-jquery-fontsize-2.0.3.min.js' %}"></script>
<script src="{% static 'assets/magnify-pop/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
{% endblock %}
