{% extends 'common/base.html' %}
{% load static %}
{% load markup_tags %}
{% block css %}
<link href="{% static 'plugins/css/bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
<link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
<link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
<link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
<link href="{% static 'assets/bootstrap/css/bootstrap-select.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/slick/slick.css' %}" rel="stylesheet">
<link href="{% static 'assets/slick/slick-theme.css' %}" rel="stylesheet">
<style>
    .martor-preview:hover {
        background-color: #F9F9F9;
    }
    .martor-preview:hover > a {
        visibility : visible;
    }
    .bookmark {
        float: right;
        cursor: pointer;
        visibility: hidden;
    }
    .comment {
        float: right;
        cursor: pointer;
        visibility: hidden;
        margin-left: 10px;
    }
    #radio-group {
        vertical-align : middle;
        justify-content: flex-end;
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-bottom: 0px;
        font-family: 'NanumSquare', san-serif;
        padding: 0px;
    }
    #radio-group > input, button {
        margin: auto 10px;
    }
    .comment_tag {
        color: #0C0E72 !important;
        cursor: pointer;
        float: right;
    }
    .comment_inner, .blog_comment_box {
        padding: 16px;
    }
    .comment_author {
        padding-top: 10px !important;
    }
    .media-body{
        padding-bottom: 10px !important;
    }
    .comment_reply {
        cursor: pointer;
    }
    .count {
        cursor: pointer;
        float: right;
    }
    .doc_left_sidebarlist {
        padding-top: 0px !important;
        position: fixed;
        width: 250px;
        overflow: auto !important;
        overscroll-behavior: contain;
        scroll-behavior: smooth;

    }
    .doc-middle-content {
        padding-top: 0px;
    }
    .user-menu {
        color: #0d0d75 !important;
    }
    .nav-sidebar {
        padding-bottom: 70px;
    }
    #book_info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
    }
    #book_info > p {
        margin-bottom: 0px;
        font-size: 14px;
        color: #5a6268;
    }
    #book-like-count {
        cursor: pointer;
    }
    .modal-content {
        padding: 25px;
    }
    #bookmarkSubmit {
        background: #0C0E72;
        color: #fff;
        padding: 10px 30px;
    }
</style>
{% endblock %}

{% block content %}
<!-- 페이지 로딩 시 초기 셋팅 영역 -->
<script>
    // 로그인 시 사용자 ID를 저장하는 전역변수 선언
    let USERNAME = "";
    // page_id 전역변수 선언
    let PAGEID = "";
</script>
{% if page_id %}
<script>PAGEID = "{{ page_id }}";</script>
{% endif %}
{% if user.is_authenticated %}
<script>USERNAME = "{{ user.get_username }}";</script>
{% endif %}
<script>
    // Page View인 경우 해당 Page 댓글창 펼침, scroll 이동
    window.onload = function() {
        if (PAGEID != "") {
            onclickComment(1, PAGEID);
            onclickChildList(PAGEID, 'auto');
        }
    };
</script>
<div class="breadcrumb_area_three" style="padding: 0"></div>
<section>
    <div class="container custom_container">
        <div class="row">
            <div class="col-lg-3 doc_mobile_menu display_none" style="z-index: 0;">
                <aside class="doc_left_sidebarlist">
                    <div class="open_icon" id="left">
                        <i class="arrow_carrot-right"></i>
                        <i class="arrow_carrot-left"></i>
                    </div>
                    <ul class="list-unstyled nav-sidebar">
                        {% for page in pages %}
                        {% if page.parent_id == 0 %}
                        <li class="nav-item active">
                            <a onclick='onclickChildList("{{ page.page_id }}")' class="nav-link" style="margin-right: 30px;">{{ page.page_title }}</a>
                            <span class="icon"><i class="arrow_carrot-down"></i></span>
                            <ul class="list-unstyled dropdown_nav" id="parent-list-{{ page.page_id }}" ></ul>
                        </li>
                        {% elif page.depth == 1 %}
                        <script>
                            $("#" + "parent-list-" + "{{ page.parent_id }}").append(
                                `<li><a id='child-list-{{ page.page_id }}' onclick='onclickChildList(this.id)'>` + "{{ page.page_title }}" + `</a></li>`
                            );
                        </script>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </aside>
            </div>
            <div class="col-xl-9 doc-middle-content" style="z-index: 1;">{% csrf_token %}
                <article id="post" class="documentation_info">
                    <div class="documentation_body" id="documentation">
                        <!-- 법규/위키 정보 영역 -->
                        <div class="col-sm-12">
                            <h4>{{ book.book_title }}</h4>
                            <div id="book_info">
                                <p>
                                    {% if book.codes_yn == "Y" %}
                                        {% if book.code_gubun %}
                                            <i class="icon_tag"></i> {{ book.get_code_gubun_display }}
                                            &nbsp;&nbsp;|&nbsp;&nbsp;
                                        {% endif %}
                                        {{ book.enfc_dt | date:'Y.m.d'}} 시행
                                    {% else %}
                                        {% if book.wiki_gubun %}
                                            <i class="icon_tag"></i> {{ book.get_wiki_gubun_display }}
                                            &nbsp;&nbsp;|&nbsp;&nbsp;
                                        {% endif %}
                                        {{ book.wrt_dt | date:'Y.m.d'}} 작성
                                        {% if book.wrt_dt != book.mdfcn_dt %}
                                            &nbsp;&nbsp;|&nbsp;&nbsp;
                                            {{ book.mdfcn_dt | date:'Y.m.d H:i'}} 편집됨
                                        {% endif %}
                                    {% endif %}
                                </p>
                                <p>
                                    {% if book.is_liked == "true" %}
                                        <a id="book-like-count" onclick="onclickLikeBook({{ book.book_id }})">
                                        <ion-icon name="heart"></ion-icon>&nbsp;{{ book.like_user_count }}&nbsp;</a>
                                    {% else %}
                                         <a id="book-like-count" onclick="onclickLikeBook({{ book.book_id }})">
                                        <ion-icon name="heart-outline"></ion-icon>&nbsp;{{ book.like_user_count }}&nbsp;</a>
                                    {% endif %}
                                    <ion-icon name="eye-outline"></ion-icon> {{ book.hit_count }}&nbsp;
                                    <ion-icon name="chatbubbles-outline"></ion-icon> {{ book.total_comment_count }}
                                </p>
                            </div>
                        </div><hr>
                        <!-- end of 법규/위키 정보 영역 -->
                        <!-- 법규/위키 본문 영역 -->
                        {% for page in pages %}
                        <div class="martor-content">
                            <div class="martor-preview" id="page-{{ page.page_id }}">
                                    <!----------------------- Comment Icon ----------------------->
                                    <a id="comment-{{ page.page_id }}" class="comment" title="댓글 작성"
                                       onclick='onclickComment("{{ page.comment_count }}", "{{ page.page_id }}")'>
                                        <ion-icon style="font-size: large" name="chatbubbles-outline"></ion-icon>
                                        {{ page.comment_count }}
                                    </a>
                                    {% if page.comment_count < 1 %}
                                        <script>
                                            $("#comment-" + "{{ page.page_id }}").prop("visibility", "hidden");
                                        </script>
                                    {% endif %}
                                    <!----------------------- End Comment Icon -------------------->
                                    <!----------------------- Bookmark Icon ----------------------->
                                    <a id="bookmark-{{ page.page_id }}" class="bookmark" title="북마크 추가"
                                       onclick="onclikckBookMark({{ page.page_id }})">
                                        {% if page.is_bookmarked == 1 %}
                                            <i class="icon_ribbon" style="font-size: larger"></i>
                                            <script>
                                                $("#bookmark-" + "{{ page.page_id }}").prop("title", "북마크 삭제");
                                            </script>
                                        {% else %}
                                            <i class="icon_ribbon_alt" style="font-size: larger"></i>
                                        {% endif %}
                                    </a>
                                    <!----------------------- End Bookmark Icon -------------------->
                                    <!-------------------- Description Area ------------------------>
                                    <div id="description-{{ page.page_id }}">
                                        {% if book.codes_yn == "N" %}
                                            {% if page.depth == 0 %}
                                                <h2>{{ page.page_title }}</h2><hr>
                                            {% else %}
                                                <h3>{{ page.page_title }}</h3>
                                            {% endif %}
                                        {% endif %}
                                    {{ page.description | apply_markup:"markdown" }}
                                    </div> {% csrf_token %}
                                    <!------------------ End Description Area ---------------------->
                            </div>
                        </div>
                        {% endfor %}
                        <!-- end of 법규/위키 본문 영역 -->
                        <script>
                            // 1개의 장으로 구성되어 있는 경우 제목 보여주지 않음
                            const law_count = "{{ law_count }}";
                            if (law_count < 2) {
                                $(".martor-content").children().first().remove();
                            }
                        </script>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<!-- 프로젝트 선택 모달 -->
<div class="modal fade" id="selectProjectModal" tabindex="-3" role="dialog" aria-hidden="false">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class=" icon_close"></i>
    </button>
    <div class="modal-dialog help_form" role="document">
        <div class="modal-content">
            <div class="shortcode_title">
                <h5><i class="icon_ribbon"></i>&nbsp;북마크 추가</h5>
                <p style="color: #5a6268;">북마크를 추가할 프로젝트를 선택해주세요</p>
            </div>
            <form action="#" class="contact_form">
                <div class="row">
                    <div class="form-group col-lg-12">
                        <select type="select" class="form-control" name="project_select" id="project_select">
                            <option selected disabled>선택 안 함</option>
                        </select>
                    </div>
                    <input id="bookmarkParam" type="hidden">
                    <div class="form-group col-lg-12" id="project_add" hidden>
                        <input type="text" class="form-control" name="project_input" id="project_input"
                               placeholder="새폴더">
                    </div>
                    <button id="bookmarkSubmit" class="btn doc_border_btn btn_small" style="margin: auto;"
                    onclick="addNewProject()">새폴더 추가</button>
                    <button id="bookmarkSubmit" class="btn action_btn btn_small" style="margin: auto;"
                    onclick="addBookmark()">등록</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/docs.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'assets/slick/slick.min.js' %}"></script>
<script src="{% static 'js/jquery.parallax-scroll.js' %}"></script>
<script src="{% static 'js/theme.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'assets/font-size/js/rv-jquery-fontsize-2.0.3.min.js' %}"></script>
<script src="{% static 'assets/magnify-pop/jquery.magnific-popup.min.js' %}"></script>
<script>
    // viewer.html, editor.html footer 숨김
    $(".forum_footer_area").hide();
</script>
{% endblock %}
